.cover_modal {
    z-index: 99999;
    display: none;
}

.login_dialog {
    position: relative;
}

.login_dialog button, input, select, textarea, label{
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 16px !important;
    font-size: 0.9375rem;
    font-weight: 400;
    line-height: 1.66;
}

.login_dialog h2 {
    font-size: 28px !important;
}

.login_dialog label {
    display: inline-table;
}


.login_dialog input::placeholder {
    opacity: 0.8 !important;
}


a.boxclose{
    position: absolute;  
}

#allow_pass{
	display: none;
}

.pass_and_register a {
    text-decoration: none;
    font-size: 16px;
}

/*social login*/
.social-login{
    list-style-type: none;
    margin-top: 15px;
}

.social-login li{
    display: inline-table;
}

.social-login li a{
    box-sizing: border-box;
    display: block;
    border-radius: 0.2em;
    margin-right: 10px;
    margin-bottom: 5px;
    padding: 5px;
    text-align: center;
    width: 90px;
    min-height: 30px !important;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    line-height: 1.66;
}
/*Facebook*/
.social-login .loginBtn-facebook a{
    background-color: #4C69BA;
}
.social-login .loginBtn-facebook a:hover,
.social-login .loginBtn-facebook a:focus {
  background-color: #5B7BD5;
}

/*Twitter*/
.social-login .loginBtn-twitter a{
    background-color: #0084b4;
}
.social-login .loginBtn-twitter a:hover,
.social-login .loginBtn-twitter a:focus {
  background-color: #00aced;
}

/*Google*/
.social-login .loginBtn-google a{
    background-color: #F44336;
}
.social-login .loginBtn-google a:hover,
.social-login .loginBtn-google a:focus {
  background-color: #FF5722;
}

.g-recaptcha{
    transform:scale(0.77);
    -webkit-transform:scale(0.77);
    transform-origin:0 0;
    -webkit-transform-origin:0 0;
}