﻿@model ProjectSEM3.Models.Author

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout2";
    ViewData["Active"] = "Authors";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Authors"><i class="fa fa-bookmark"></i> Authors</a></li>
            <li class="active"> Delete</li>
        </ol>
    </h6>
    <h3>Are you sure you want to delete this?</h3>
    
</section>
<section class="content container-fluid">
    <div class="box box-danger">
        <div class="box-header">
            <h4>Author</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.FullName)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.FullName)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Quote)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Quote)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Avatar)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Avatar)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>

                <form asp-action="Delete" class="box-footer">
                    <div class="form-group col-sm-2">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" /> 
                    </div>
                    <div class="form-group btn btn-default">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

