﻿@model ProjectSEM3.Models.Author

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
    ViewData["Active"] = "Authors";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Authors"><i class="fa fa-bookmark"></i> Authors</a></li>
            <li class="active"> Details</li>
        </ol>
    </h6>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Author</h4>
            <hr />
        </div>
        <div class="box-body">
            <div class="row">
                <div class="col-lg-1">
                    <div class="row">
                        <div class="col-lg-12">
                            <img class="img-circle img-bordered-sm" style="height:180px; width:180px; transition: all 0.25s ease 0s; box-shadow: rgb(0, 0, 0) 0px 0px 15px -2px;" src="@Html.DisplayFor(model => model.Avatar)" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-10">
                    <dl class="dl-horizontal">
                        <dt class="form-group">
                            Full Name:
                        </dt>
                        <dd>
                            <div class="form-group">
                                @Html.DisplayFor(model => model.FullName)
                            </div>
                        </dd>
                        <dt class="form-group">
                            Quote:
                        </dt>
                        <dd>
                            <div class="form-group">
                                @Html.DisplayFor(model => model.Quote)
                            </div>
                        </dd>
                        <dt class="form-group">
                            Created At:
                        </dt>
                        <dd>
                            <div class="form-group">
                                @Html.DisplayFor(model => model.CreatedAt)
                            </div>
                        </dd>
                        <dt>
                            Updated At:
                        </dt>
                        <dd>
                            <div class="form-group">
                                @Html.DisplayFor(model => model.UpdatedAt)
                            </div>
                        </dd>
                        <dt>
                            Status:
                        </dt>
                        <dd>
                            <div class="form-group">
                                @Html.DisplayFor(model => model.Status)
                            </div>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div class="box-footer">
            <div class="form-group col-sm-1">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
            <div class="form-group btn btn-default">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
