﻿@model ProjectSEM3.Models.Author

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout2";
    ViewData["Active"] = "Authors";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Authors"><i class="fa fa-bookmark"></i> Authors</a></li>
            <li class="active"> Edit</li>
        </ol>
    </h6>
    
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Author</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Quote" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Quote" class="form-control" />
                            <span asp-validation-for="Quote" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="UpdatedAt" class="form-control" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Status" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group col-sm-2">
                            <input type="submit" value="Save" class="btn btn-warning" />
                        </div>
                        <div class="form-group btn btn-default">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@

