﻿@model IEnumerable<ProjectSEM3.Models.Author>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout2";
    ViewData["Active"] = "Authors";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active"> Authors</li>
        </ol>
    </h6>

</section>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <a asp-action="Create" class="box-title">Create New</a>
                </div>
                <div class="box-body">
                    <table id="myTable" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Full Name
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Avatar)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.CreatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UpdatedAt)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Status)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Quote)
                                </th>
                                <th>Options</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FullName)
                                </td>
                                <td>
                                    <img style="height:50px; border-radius:50%" src="@Html.DisplayFor(modelItem => item.Avatar)" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UpdatedAt)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Status)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Quote)
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Id" style="margin-right:6px; color: dodgerblue">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true" data-toggle="tooltip" title="Edit"></i>
                                    </a>
                                    <a asp-action="Details" asp-route-id="@item.Id" style="margin-right:6px; color:forestgreen">
                                        <i class="fa fa-list-alt" aria-hidden="true" data-toggle="tooltip" title="Details"></i>
                                    </a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" style="color:red">
                                        <i class="fa fa-trash-o" aria-hidden="true" data-toggle="tooltip" title="Delete"></i>
                                    </a>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts{

    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#myTable').DataTable();
        });
    </script>
}

