﻿<ul class="sidebar-menu" data-widget="tree">
    <!-- Optionally, you can add icons to the links -->
    <li class='@(ViewData["Active"] == "Dashboard" ? "active": "")'><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i>  <span>Dashboard</span></a></li>
    <li class='@(ViewData["Active"] == "Admin" ? "active": "")'><a asp-action="Index" asp-controller="Admin"><i class="fa fa-user"></i> <span>Admins</span></a></li>
    <li class='@(ViewData["Active"] == "Users" ? "active": "")'><a asp-action="Index" asp-controller="Account"><i class="fa fa-users"></i>  <span>Users</span></a></li>
    <li class="@(ViewData["Active"] == "Authors" ? "active": "")"><a asp-action="Index" asp-controller="Authors"><i class="fa fa-bookmark"></i> <span>Authors</span></a></li>
    <li class="@(ViewData["Active"] == "Categories" ? "active": "")"><a asp-action="Index" asp-controller="Categories"><i class="fa fa-code-fork"></i> <span>Categories</span></a></li>
    <li class="@(ViewData["Active"] == "Books" ? "active": "")"><a asp-action="Index" asp-controller="Books"><i class="fa fa-book"></i> <span>Books</span></a></li>
    <li class="@(ViewData["Active"] == "Order" ? "active": "")"><a asp-action="Index" asp-controller="Order"><i class="fa fa-shopping-cart"></i> <span>Order</span></a></li>
    <li class="@(ViewData["Active"] == "Logout" ? "active": "")"><a asp-action="Logout" asp-controller="Auth"><i class="fa fa-sign-out"></i> <span>Logout</span></a></li>
</ul>