﻿
@{
    var userAuth = ViewData["userAuth"] as Account;
}  
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/x-icon" href="~/assets/images/favicon.png" />
    <title>@ViewData["Title"] - Online Book Store</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link href="~/css/font.css" rel="stylesheet" />
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
        <script src="https://www.paypal.com/sdk/js?client-id=AReAshAU5jrxQ6WXRVQG9-IaDU-5Pl8SwDCrUMnKL1PVtAjbdgTiO1or1Dm3V-SDIsS1eHUt8fCj7LTO"></script>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <div class="backtotop">
        <image onclick="topFunction()" id="myBtn" src="https://png.pngtree.com/svg/20170821/c108a4ad9c.png"></image>
    </div>
    <header id="masthead" class="site-header">
        <div id="cshero-header" class="header-3">
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-6 top-left-3">
                            @if (ViewData["userAuth"] == null)
                            {
                                <a class="go_to_login_link" asp-controller="Auth" asp-action="Login">Login / Register</a>
                            }
                            else
                            {
                                <a class="go_to_login_link" asp-controller="Home" asp-action="Account">@userAuth.FullName</a>
                            }

                            <a asp-controller="Home" asp-action="FAQ">FAQ</a><a asp-controller="Home" asp-action="Contact">Contact Us</a>
                        </div>
                        <div class="col-xs-12 col-md-6 top-right-3">
                            <div class="wrap-book-shelf clearfix">
                                <img src="~/assets/images/icon-1.png"
                                     alt="icon 1">
                                <div class="content">
                                    <a href="javascript:void(0)"
                                       alt="My Account">
                                        <h5>Bookshelf</h5>
                                    </a>
                                    <span class="aj-count">
                                        <span id="countCart">0</span>
                                         Books
                                    </span>
                                </div>
                            </div>
                            <div class="wrap-your-basket clearfix">
                                <img src="~/assets/images/icon-2.png"
                                     alt="icon 2">
                                <div class="content">
                                    <h5>
                                        <a asp-controller="Home" asp-action="Cart">
                                            Your Basket
                                        </a>
                                    </h5>
                                    <span>
                                        $0.00
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-middler">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-md-4 col-lg-3">
                            <div class="main-logo-3">
                                <a href="/"><img alt="Book Shradha" src="~/assets/images/logo-2.png"></a>
                            </div>
                            <a href="javascript:void(0)" class="menu"><i class="fa fa-bars"></i> Menu</a>
                        </div>
                        <div class="col-xs-12 col-md-8 col-lg-9">
                            <form class="searchform clearfix" action="/Home/Search">
                                <div class="wrap-search clearfix">
                                    <input type="text" class="form-search" name="value" id="strSearch" placeholder="Search for the perfect book...">
                                    <div class="wrap-cat">
                                        <select name="categoryId" id="product_cat">
                                            <option value="0" selected disabled>Browse Categories</option>
                                            @foreach (var item in ViewData["ListCategories"] as IList<Category>)
                                            {
                                                <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                <button type="submit" class="search-submit">Go</button>
                                <input type="text" name="min_price" value="0" />
                                <input type="text" name="max_price" value="100" />
                            </form>
                        </div><!-- #site-logo -->
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div id="header-navigation" class="col-xs-12 cshero-main-header sticky-desktop">
                        <nav id="site-navigation" class="main-navigation">
                            <div class="menu-primary-menu-container">
                                <ul id="menu-primary-menu" class="nav-menu menu-main-menu">
                                    <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-has-children no_group abccs menu-item-11" data-depth="0">
                                        <a asp-controller="Home" asp-action="Index" class=""><span class="menu-title">Home</span></a>
                                    </li>
                                    <li id="menu-item-514" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-mega-menu no_group menu-item-514" data-depth="0">
                                        <a href="javascript:void(0)" class=""><span class="menu-title">Mega Menu</span></a>
                                        <span class="cs-menu-toggle"><i class="fa fa-angle-down"></i></span>
                                        <ul class='multicolumn columns4 drop_to_center sub-menu' style="width:800px;">
                                            <li id="menu-item-515" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-515" data-depth="1">
                                                <a href="javascript:void(0)" class=""><span class="menu-title">Featured</span></a>
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-516" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-516" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Highest Rated Fiction</span></a></li>
                                                    <li id="menu-item-517" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-517" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Bestsellers</span></a></li>
                                                    <li id="menu-item-518" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-518" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Clearance Books</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-519" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-519" data-depth="1">
                                                <a href="javascript:void(0)" class=""><span class="menu-title">Categories</span></a>
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-520" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-520" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Crime &#038; Detectives</span></a></li>
                                                    <li id="menu-item-521" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-521" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Comedy</span></a></li>
                                                    <li id="menu-item-522" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-522" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Fantasy Fiction</span></a></li>
                                                    <li id="menu-item-524" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-524" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Horror</span></a></li>
                                                    <li id="menu-item-525" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-525" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Mystery</span></a></li>
                                                    <li id="menu-item-526" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-526" data-depth="2"><a asp-controller="Home" asp-action="Search"><span class="menu-title">Romantic</span></a></li>
                                                    <li id="menu-item-527" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-527" data-depth="2"><a asp-controller="Home" asp-action="Search" class=""><span class="menu-title">Tragedy</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-528" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no-title group title menu-item-528" data-depth="1">
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-529" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-529" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Thriller / Suspense</span></a></li>
                                                    <li id="menu-item-530" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-530" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Fairy Tales</span></a></li>
                                                    <li id="menu-item-531" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-531" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Fan Fiction</span></a></li>
                                                    <li id="menu-item-532" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-532" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Fictional Biography</span></a></li>
                                                    <li id="menu-item-533" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-533" data-depth="2"><a href="javascript:void(0)" class=""><span class="menu-title">Western</span></a></li>
                                                </ul>
                                            </li>
                                            <li id="menu-item-535" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children group menu-item-535" data-depth="1">
                                                <ul class='   sub-menu' style="">
                                                    <li id="menu-item-537" class="menu-item menu-item-type-custom menu-item-object-custom no_group menu-item-537" data-depth="2">
                                                    <li id="custom_html-5" class="widget_text widget widget_custom_html"><h5 class="wg-mega-menu-title">Featured book</h5><div class="textwidget custom-html-widget"><a href="javascript:void(0)"><img src="~/assets/images/mega-menu.png" alt="Featured Book"></a></div></li>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                </li>
                                <li id="menu-item-250" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children no_group menu-item-250" data-depth="0">
                                    <a href="javascript:void(0)" class=""><span class="menu-title">Shop</span></a>
                                    <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                        <li id="menu-item-403" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-403" data-depth="1"><a asp-controller="Home" asp-action="Cart" class=""><span class="menu-title">Shop Cart</span></a></li>
                                        <li id="menu-item-402" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-402" data-depth="1"><a asp-controller="Home" asp-action="Checkout" class=""><span class="menu-title">Shop Checkout</span></a></li>
                                        <li id="menu-item-404" class="menu-item menu-item-type-post_type menu-item-object-product no_group menu-item-404" data-depth="1"><a href="" class=""><span class="menu-title">Single Book</span></a></li>
                                        <li id="menu-item-470" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-470" data-depth="1"><a asp-action="Account" asp-controller="Home" class=""><span class="menu-title">User Profile</span></a></li>
                                    </ul>
                                    <span class="cs-menu-toggle"><i class="fa fa-angle-down"></i></span>
                                </li>
                                <li id="menu-item-17" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no_group menu-item-17" data-depth="0">
                                    <a href="javascript:void(0)" class=""><span class="menu-title">Pages</span></a>
                                    <ul class='standar-dropdown standard autodrop_submenu sub-menu' style="width:200px;">
                                        <li id="menu-item-236" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children no_group menu-item-236" data-depth="1">
                                            <a asp-controller="Home" asp-action="FAQ" class=""><span class="menu-title">FAQ</span></a>
                                            <a asp-controller="Home" asp-action="Cart"><span class="menu-title">YourBasket</span></a>
                                            <a href="#"><span class="menu-title">BookShelf</span></a>
                                        </li>
                                    </ul>
                                    <span class="cs-menu-toggle"><i class="fa fa-angle-down"></i></span>
                                </li>
                                <li id="menu-item-99" class="menu-item menu-item-type-post_type menu-item-object-page no_group menu-item-99" data-depth="0"><a asp-controller="Home" asp-action="Contact"><span class="menu-title">Contact Us</span></a></li>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!-- #site-navigation -->


    </header>

    <partial name="_CookieConsentPartial" />

    <div class="container body-content">
        @RenderBody()
    </div>

    <footer class="site-footer">
        <div id="footer-top">
            <div class="container">
                <div class="row">

                    <div class="wrap-about col-md-3 col-sm-12 col-xs-12 col-lg-4">
                        <div class="footer-about">
                            <a asp-controller="Home" asp-action="Index"><img class="logo-footer" src="~/assets/images/logo-2.png" alt="Book Junky"></a>
                            <p>Suspendisse potenti. Nulla facilisi. Vestibulum non blandit nulla. Vivamus id orci condimentum, suscipit nunc non, viverra justo. Phasellus sit amet justo ac felis sagittis elementum a at dui.</p>
                            <ul>
                                <li><a href="javascript:void(0)"><i class="zmdi zmdi-facebook-box"></i></a></li>
                                <li><a href="javascript:void(0)"><img src="~/assets/images/instagram.png" alt="Instagram"></a></li>
                                <li><a href="javascript:void(0)"><i class="zmdi zmdi-twitter-box"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-12 col-xs-12">
                        <aside id="recent_views_book_2-2" class="widget-footer widget_recent_views_book_2">
                            <h3 class="wg-ft-title">THIS WEEKS REVIEWD</h3>
                            <div class="recent-review-2">
                                @foreach (var item in ViewData["ThisWeekReviewd"] as IList<Book>)
                                {
                                    <div class="recent-review-item clearfix">
                                        <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #ededa6">
                                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                                <img src="@item.Thumbnail" alt="Thumbnail">
                                            </a>
                                        </div>
                                        <div class="contents">
                                            <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="title">
                                                @item.Name
                                            </a>
                                            <div class="author-product">
                                                by: @Html.DisplayFor(modelItem => item.Author.FullName)
                                            </div>
                                            <div class="woocommerce"><div class="woocommerce-product-rating"><span class="star-rating" style="color:;"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5 based on <span class="rating">2</span> customer ratings</span></span></div></div>
                                        </div>
                                    </div>

                                }
                            </div>
                        </aside>
                    </div><div class="col-md-3 col-sm-12 col-xs-12">
                        <aside id="custom_html-2" class="widget_text widget-footer widget_custom_html">
                            <h3 class="wg-ft-title">GENRES</h3><div class="textwidget custom-html-widget">
                                <ul>
                                    <li>Action</li>
                                    <li>Comedy</li>
                                    <li>Drama</li>
                                    <li>E-Books</li>
                                    <li>Horror</li>
                                    <li>Kids</li>
                                    <li>Romantic Comedy</li>
                                    <li>Sci-Fi</li>
                                </ul>
                            </div>
                        </aside>
                    </div><div class="col-md-3 col-sm-12 col-xs-12 col-lg-2">
                        <aside id="custom_html-3" class="widget_text widget-footer widget_custom_html">
                            <a asp-controller="Home" asp-action="Contact" class="wg-ft-title">CONTACT</a><div class="textwidget custom-html-widget">
                                <ul>
                                    <li>BookShradha,</li>
                                    <li>8 Ton That Huyet Street,</li>
                                    <li>Ha Noi, Viet Nam</li>
                                    <li>&nbsp;</li>
                                    <li>Call: <a href="tel:07724100110">0772 410 0110</a></li>
                                    <li><a href="mailto:contact.tuannv@gmail.com">Email:contact.tuannv@gmail.com</a></li>
                                </ul>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </div><!-- #footer-top -->

        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        Copyright © 2019 <a href="https://siingroup.com">SiinGroup. </a>All Right Reserved
                    </div>
                </div>
            </div>
        </div><!-- #footer-bottom -->

    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script type="text/javascript">
            function add_chatinline() {
                var hccid = 79363671;
                var nt = document.createElement("script");
                nt.async = true;
                nt.src = "https://mylivechat.com/chatinline.aspx?hccid=" + hccid;
                var ct = document.getElementsByTagName("script")[0];
                ct.parentNode.insertBefore(nt, ct);
            }
            add_chatinline();
        </script>
        <script type="text/javascript">
            function topFunction() {
                document.body.scrollTop = 0;
                document.documentElement.scrollTop = 0;
            }
            $(document).ready(() => {
                window.onscroll = function () { scrollFunction() };
                function scrollFunction() {
                    if (document.body.scrollTop > 150 || document.documentElement.scrollTop > 150) {
                        document.getElementById("myBtn").style.display = "block";
                    } else {
                        document.getElementById("myBtn").style.display = "none";
                    }
                }
                var countCart = localStorage.getItem("cart");
                if (countCart == null) {
                    $("#countCart").text("0");
                }
                else {
                    $("#countCart").text(countCart);
                }
            });
        </script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
