﻿@model ProjectSEM3.Models.Account

@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
    ViewData["Active"] = "Admin";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Admin"><i class="fa fa-user"></i> Account</a></li>
            <li class="active">Details</li>
        </ol>
    </h6>
</section>

<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Account</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Username)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Username)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Password)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Password)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="box-footer">
            <div class="form-group col-sm-1">
                <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
            </div>
            <div class="form-group btn btn-default">
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>
</section>
