﻿@model ProjectSEM3.Models.Account
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Register";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/FormLayout.css" /><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</environment>
<style>
    .alert_header {
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }
</style>
<div class="alert_header">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"].ToString()
        </div>
    }
</div>
<div class="login_dialog">

    <a class="boxclose"></a>


    <form class="login_form" id="login_form" asp-action="RegisterPost">
        <h2>Register</h2>
        <label asp-for="FullName"> Full Name</label>
        <input type="text" id="login_user" asp-for="FullName" />
        <label asp-for="Username"> User Name</label>
        <input type="text" id="login_user" asp-for="Username" />
        <label asp-for="Password"> Password </label>
        <input type="password" id="pass_user" asp-for="Password" />
        <input type="submit" name="login_submit" value="Register" class="login_submit" />
        <label for="login">
            <a asp-action="LoginAdmin">You have a account (Login)</a>
        </label>
        <div class="social-login">


        </div>
    </form>
</div>
@section Scripts {

}
