﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Book Shradha";
    Layout = null;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/FormLayout.css" /><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</environment>
<div class="login_dialog">

    <form class="login_form" id="login_form">
        <h2>Please Login</h2>
        <div asp-validation-summary="All" class="text-danger"></div>
        <label asp-for="Input.Email"></label>
        <input asp-for="Input.Email" id="login_user" />
        <label asp-for="Input.Password"></label>
        <input asp-for="Input.Password" id="pass_user" />
        <label asp-for="Input.RememberMe" id="lb_rememberme">
            <input asp-for="Input.RememberMe" id="rememberme" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
        <input type="submit" name="login_submit" value="LOGIN" class="login_submit" />

        <div class="social-login">


        </div>
    </form>
    <div class="pass_and_register" id="pass_and_register">

        <a class="go_to_register_link" asp-area="Identity" asp-page="/Account/Register" style="">Register</a>
        <span style="color: black"> </span>
        @*<a class="go_to_lostpassword_link" href="">Forgot Password</a>*@

    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
