﻿@page
@model RegisterModel
@{
    Layout = null;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/FormLayout.css" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</environment>

<div class="login_dialog">
    <form class="register_form" id="register_form" method="post">
        <h2>Create a new account.</h2>
        <div class="form-group">
            <label asp-for="Input.Email"></label>
            <input asp-for="Input.Email" id="register_email" class="form-control" />
            <span asp-validation-for="Input.Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.Password"></label>
            <input asp-for="Input.Password" register_pass class="form-control" />
            <span asp-validation-for="Input.Password" id="register_pass" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Input.ConfirmPassword"></label>
            <input asp-for="Input.ConfirmPassword" confirm_pass class="form-control" />
            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Full Name</label>
            <input type="text" />
        </div>
        <label>Birthday</label>
        <div>
            <input style="border:1px solid rgba(96, 125, 139, 0.25) !important; border-radius:6px;" type="date" class="form-control" />
        </div>
        <label>Gender</label>
        <div class="form-group">
            <label class="radio-inline">
                <input type="radio" name="optradio" checked>Male
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Female
            </label>
            <label class="radio-inline">
                <input type="radio" name="optradio">Other
            </label>
        </div>
        <input type="submit" name="register_submit" id="register_submit" value="REGISTER" />
    </form>
    <a class="back_login" asp-area="Identity" asp-page="/Account/Login">Back to Login</a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
