﻿@model ProjectSEM3.Models.OrderBook
@{
    ViewData["Title"] = "Details";
    Layout = "_Layout2";
    ViewData["Active"] = "Order Detail";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Order"><i class="fa fa-shopping-cart"></i> Order</a></li>
            <li class="active">Details</li>
        </ol>
    </h6>
</section>


<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">User</h4>
            <hr />
        </div>
        <div class="box-body">
            <div>
                <h4>OrderBook</h4>
                <hr />
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.TotalPrice)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.TotalPrice)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Account)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Account.Id)
                    </dd>
                </dl>
            </div>
            <div class="box-footer">
                <div class="form-group col-sm-1">
                    <a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
                </div>
                <div class="form-group btn btn-default">
                    <a asp-action="Index">Back to List</a>
                </div>
            </div>
        </div>
</section>

