﻿/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/plugins/csh-login/assets/css/default.css ; media=all */
@media all {
    * {
        box-sizing: border-box;
        moz-box-sizing: border-box;
        webkit-box-sizing: border-box;
    }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/css/bootstrap.min.css ; media=all */
@media all {
    a {
        background-color: transparent;
    }

        a:active, a:hover {
            outline: 0;
        }

    img {
        border: 0;
    }

    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

            a[href]:after {
                content: " (" attr(href) ")";
            }

            a[href^="#"]:after {
                content: "";
            }

        img {
            page-break-inside: avoid;
        }

        img {
            max-width: 100% !important;
        }

        h3, p {
            orphans: 3;
            widows: 3;
        }

        h3 {
            page-break-after: avoid;
        }
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

        a:focus, a:hover {
            color: #23527c;
            text-decoration: underline;
        }

        a:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    img {
        vertical-align: middle;
    }

    h3 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h3 {
        font-size: 24px;
    }

    p {
        margin: 0 0 10px;
    }

    ul {
        margin-top: 0;
        margin-bottom: 10px;
    }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/css/font.css ; media=all */
@media all {
    .zmdi {
        display: inline-block;
        font: normal normal normal 14px/1 'Material-Design-Iconic-Font';
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .zmdi-email:before {
        content: '\f15a';
    }

    .zmdi-facebook:before {
        content: '\f343';
    }

    .zmdi-instagram:before {
        content: '\f34f';
    }

    .zmdi-twitter:before {
        content: '\f360';
    }

    .zmdi-email:before {
        content: '\f15a';
    }

    .zmdi-facebook:before {
        content: '\f343';
    }

    .zmdi-instagram:before {
        content: '\f34f';
    }

    .zmdi-twitter:before {
        content: '\f360';
    }

    [class*=" zmdi-"] {
        display: inline-block;
        font-family: 'Material-Design-Iconic-Font';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/css/static.css ; media=all */
@media all {
    div, h3, p, a, img, i, ul, li {
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
    }

    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
    }

    a *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ::-moz-selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    ::selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    a {
        text-decoration: none;
        outline: none;
        letter-spacing: 0.03;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
        }

    h3 {
        color: #0f120b;
        font-family: "averta-bold";
        line-height: 1;
        margin-top: 0;
        margin-bottom: 20px;
    }

    h3 {
        font-size: 40px;
    }

    p {
        color: #0f120b;
        font-family: "averta-regular";
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    a, div, i, img {
        border: 0 none;
        margin: 0;
        outline: 0 none;
        padding: 0;
    }

    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    i {
        font-style: italic;
    }

    .page-title-author .wrap-backround {
        height: 236px;
        background-size: cover;
        background-position: center center;
    }

    .page-title-author .wrap-content {
        text-align: center;
        max-width: 975px;
        margin: 0 auto;
    }

    @media screen and (max-width: 991px) {
        .page-title-author .wrap-content {
            padding: 0 15px;
        }
    }

    .page-title-author .avatar {
        width: 91px;
        height: 91px;
        overflow: hidden;
        border-radius: 100%;
        margin: -45px auto 25px;
    }

        .page-title-author .avatar img {
            width: 100%;
        }

    .page-title-author .name-author {
        color: #040304;
        font-size: 42px;
        font-family: 'averta-bold';
        letter-spacing: 0.03em;
        margin-bottom: 31px;
    }

    .page-title-author .des-author {
        color: #040304;
        font-style: 16px;
        font-family: 'averta-regular';
        letter-spacing: 0.03em;
    }

    .page-title-author .share {
        padding-top: 33px;
        margin-bottom: 40px;
    }

        .page-title-author .share .title-share {
            font-size: 15px;
            color: #888a92;
            margin-bottom: 22px;
            font-family: 'averta-semibold';
        }

        .page-title-author .share li {
            display: inline-block;
            margin: 0 8px;
        }

        .page-title-author .share a {
            height: 34px;
            width: 34px;
            line-height: 38px;
            display: inline-block;
            color: #fff;
            border-radius: 100%;
            border: 1px solid #7151ed;
            background-color: #7151ed;
        }

            .page-title-author .share a i {
                font-size: 19px;
            }

            .page-title-author .share a:hover {
                color: #7151ed;
                background-color: #fff;
            }
}
/*! CSS Used from: Embedded */
h3 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: Material-Design-Iconic-Font;
    src: url(http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/Material-Design-Iconic-Font.woff2?v=2.2.0) format('woff2'),url(http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/Material-Design-Iconic-Font.woff?v=2.2.0) format('woff'),url(http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/Material-Design-Iconic-Font.ttf?v=2.2.0) format('truetype');
}

@font-face {
    font-family: 'averta-bold';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_bold-webfont.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-regular';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-semibold';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_semibold-webfont.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
