﻿
body {
    background-color: #f1f1f1;
}

#regForm {
    background-color: #ffffff;
    margin: 10px 0 100px 0;
    font-family: Raleway;
    padding: 40px;
    width: 100%;
}
  
input.invalid {
    background-color: #ffdddd;
}


.tab {
    display: none;
}

button {
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer;
}
button:hover {
    opacity: 0.8;
}

#prevBtn {
    background-color: #bbbbbb;
}

.step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step.finish {
    background-color: #4CAF50;
}         
