﻿.gm-control-active > img {
    box-sizing: content-box;
    display: none;
    left: 50%;
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-50%);
}

    .gm-control-active > img:nth-child(1) {
        display: block;
    }

.gm-control-active:hover > img:nth-child(1), .gm-control-active:active > img:nth-child(1) {
    display: none;
}

.gm-control-active:hover > img:nth-child(2), .gm-control-active:active > img:nth-child(3) {
    display: block;
}
/*! CSS Used from: Embedded */
.gm-ui-hover-effect {
    opacity: .6;
}

    .gm-ui-hover-effect:hover {
        opacity: 1;
    }
/*! CSS Used from: Embedded */
.gm-style .gm-style-cc span, .gm-style .gm-style-cc a {
    font-size: 10px;
    box-sizing: border-box;
}
/*! CSS Used from: Embedded */
@media print {
    .gm-style .gmnoprint, .gmnoprint {
        display: none;
    }
}

@media screen {
    .gm-style .gmnoscreen, .gmnoscreen {
        display: none;
    }
}
/*! CSS Used from: Embedded */
.dismissButton {
    background-color: #fff;
    border: 1px solid #dadce0;
    color: #1a73e8;
    border-radius: 4px;
    font-family: Roboto,sans-serif;
    font-size: 14px;
    height: 36px;
    cursor: pointer;
    padding: 0 24px;
}

    .dismissButton:hover {
        background-color: rgba(66,133,244,0.04);
        border: 1px solid #d2e3fc;
    }

    .dismissButton:focus {
        background-color: rgba(66,133,244,0.12);
        border: 1px solid #d2e3fc;
        outline: 0;
    }

    .dismissButton:hover:focus {
        background-color: rgba(66,133,244,0.16);
        border: 1px solid #d2e2fd;
    }

    .dismissButton:active {
        background-color: rgba(66,133,244,0.16);
        border: 1px solid #d2e2fd;
        box-shadow: 0 1px 2px 0 rgba(60,64,67,0.3),0 1px 3px 1px rgba(60,64,67,0.15);
    }

    .dismissButton:disabled {
        background-color: #fff;
        border: 1px solid #f1f3f4;
        color: #3c4043;
    }
/*! CSS Used from: Embedded */
.gm-style-pbc {
    transition: opacity ease-in-out;
    background-color: rgba(0,0,0,0.45);
    text-align: center;
}

.gm-style-pbt {
    font-size: 22px;
    color: white;
    font-family: Roboto,Arial,sans-serif;
    position: relative;
    margin: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
@media all {
    div.wpcf7 {
        margin: 0;
        padding: 0;
    }

        div.wpcf7 .screen-reader-response {
            position: absolute;
            overflow: hidden;
            clip: rect(1px, 1px, 1px, 1px);
            height: 1px;
            width: 1px;
            margin: 0;
            padding: 0;
            border: 0;
        }

    div.wpcf7-response-output {
        margin: 2em 0.5em 1em;
        padding: 0.2em 1em;
        border: 2px solid #ff0000;
    }

    .wpcf7-form-control-wrap {
        position: relative;
    }

    .wpcf7-display-none {
        display: none;
    }

    div.wpcf7 .ajax-loader {
        visibility: hidden;
        display: inline-block;
        background-image: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/plugins/contact-form-7/images/ajax-loader.gif');
        width: 16px;
        height: 16px;
        border: none;
        padding: 0;
        margin: 0 0 0 4px;
        vertical-align: middle;
    }

    div.wpcf7 .wpcf7-submit:disabled {
        cursor: not-allowed;
    }

    input, textarea {
        font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
        font-size: 16px !important;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.66;
    }

    [type=email] {
        border: 1px solid rgba(96, 125, 139, 0.25) !important;
        min-height: 32px !important;
        margin-bottom: 10px !important;
        padding: 7px 12px !important;
        width: 100%;
    }

    .clearfix:after, .clearfix:before, .container:after, .container:before, .row:after, .row:before {
        display: table;
        content: " ";
    }

    .clearfix:after, .container:after, .row:after {
        clear: both;
    }

    .zmdi-balance:before {
        content: '\f112';
    }

    .zmdi-email-open:before {
        content: '\f159';
    }

    .zmdi-balance:before {
        content: '\f112';
    }

    .zmdi-email-open:before {
        content: '\f159';
    }

    .zmdi-local-phone:before {
        content: '\f2be';
    }

    [class^="zmdi-"] {
        display: inline-block;
        font-family: 'Material-Design-Iconic-Font';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }



    input[type='email'], input[type='text'], textarea {
        border: 1px solid #e5e6ea;
        transition: all 0.25s ease 0s;
    }

        input[type='email']:hover, input[type='text']:hover, textarea:hover, input[type='email']:focus, input[type='text']:focus, textarea:focus {
            border-color: #7151ed;
        }

    table {
        border-collapse: separate;
        border-spacing: 0;
    }

    a img {
        border: 0;
    }

    img {
        border: 0;
        -ms-interpolation-mode: bicubic;
    }

    button, input, textarea {
        font: inherit;
        margin: 0;
    }

    button {
        overflow: visible;
    }

    button {
        text-transform: none;
    }

    button, input[type="submit"] {
        -webkit-appearance: button;
        cursor: pointer;
    }

        button::-moz-focus-inner, input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    button, input {
        line-height: normal;
        *overflow: visible;
    }

    a *, *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    textarea {
        overflow: auto;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    }

    td {
        padding: 0;
    }

    input, textarea {
        font: inherit;
    }

    ::-moz-selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    ::selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    a {
        text-decoration: none;
        outline: none;
        letter-spacing: 0.03;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
        }

    h5 {
        color: #0f120b;
        font-family: "averta-bold";
        line-height: 1;
        margin-top: 0;
        margin-bottom: 20px;
    }

    h5 {
        font-size: 20px;
    }

    p {
        color: #0f120b;
        font-family: "averta-regular";
        font-size: 14px;
        line-height: 22px;
        margin-bottom: 15px;
    }

    a, div, form, i, iframe, img, span, td, tr {
        border: 0 none;
        margin: 0;
        outline: 0 none;
        padding: 0;
    }

    img {
        height: auto;
        max-width: 100%;
        vertical-align: middle;
    }

    i {
        font-style: italic;
    }

    input {
        border: none;
    }

    textarea {
        resize: vertical;
    }

    button::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

    input, textarea, input[type="submit"]:focus {
        outline: 0 none;
    }

    table {
        border-bottom: 1px solid #ededed;
        border-collapse: collapse;
        border-spacing: 0;
        line-height: 2;
        margin: 0 0 20px;
        width: 100%;
        -webkit-border-radius: 0;
        -khtml-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        border-radius: 0;
    }

    td {
        font-weight: normal;
        text-align: center;
    }

    td {
        border-top: 1px solid #ededed;
        padding: 10px;
    }

    .fancy-box-1 h5 {
        font-size: 18px;
        font-family: "averta-bold";
        color: #7151ed;
        line-height: 25px;
        margin-bottom: 0px;
    }

    .fancy-box-1 p {
        font-size: 14px;
        font-family: "averta-semibold";
        color: rgba(0, 0, 0, 0.48);
    }

    @media screen and (max-width: 991px) {
        .fancy-box-1 {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 1200px) {
        .fancy-box-1 {
            padding-left: 60px;
        }
    }

    .fancy-box-2 {
        margin-bottom: 30px;
    }

        .fancy-box-2 .wrap-left {
            display: inline-block;
            float: left;
        }

        .fancy-box-2 i {
            font-size: 28px;
            color: #fff;
            width: 55px;
            height: 55px;
            background-color: #7151ed;
            border-radius: 100%;
            text-align: center;
            line-height: 55px;
        }

        .fancy-box-2 .wrap-right {
            margin-left: 55px;
            padding-left: 18px;
            padding-top: 18px;
        }

        .fancy-box-2 h5 {
            color: #0f120b;
            font-size: 18px;
            font-family: "averta-bold";
            margin-bottom: 10px;
        }

        .fancy-box-2 p, .fancy-box-2 div, .fancy-box-2 a {
            font-family: "averta-semibold";
            font-size: 14px;
            line-height: 24px;
            color: rgba(18, 15, 11, 0.48);
        }

        .fancy-box-2 p {
            margin-bottom: 0;
        }

        .fancy-box-2 a:hover {
            color: #7151ed;
        }

    .site-content {
        padding: 50px 0;
    }

    .mymaps-area-1 {
        border-left: 1px solid #e5e6ea;
    }

    .wpcf7-form {
        padding-bottom: 64px;
    }

    .wpcf7-response-output {
        text-align: center;
    }

    .wpcf7-form-control-wrap {
        text-align: left;
    }

    .contact-form {
        text-align: center;
    }

        .contact-form h5 {
            color: #7151ed;
            font-size: 32px;
            font-family: "averta-semibold";
            margin-bottom: 7px;
        }

        .contact-form span {
            font-family: "averta-semibold";
            font-size: 14px;
            color: rgba(15, 18, 11, 0.68);
        }

        .contact-form p {
            margin-bottom: 33px;
        }

        .contact-form input[type='email'], .contact-form input[type='text'] {
            height: 44px;
            line-height: 42px;
            padding: 0 30px !important;
        }

        .contact-form textarea {
            height: 124px;
            padding: 15px 30px 0;
        }

        .contact-form input[type='email'], .contact-form input[type='text'], .contact-form textarea {
            border: 1px solid #e5e6ea;
            width: 100%;
            margin-bottom: 10px;
            background-color: #fff;
        }

            .contact-form input[type='email']::-webkit-input-placeholder, .contact-form input[type='text']::-webkit-input-placeholder, .contact-form textarea::-webkit-input-placeholder {
                color: rgba(136, 138, 146, 0.48);
                font-size: 15px;
                opacity: 1;
                font-family: "averta-bold";
            }

            .contact-form input[type='email']::-moz-placeholder, .contact-form input[type='text']::-moz-placeholder, .contact-form textarea::-moz-placeholder {
                color: rgba(136, 138, 146, 0.48);
                font-size: 15px;
                opacity: 1;
                font-family: "averta-bold";
            }

            .contact-form input[type='email']:-moz-placeholder, .contact-form input[type='text']:-moz-placeholder, .contact-form textarea:-moz-placeholder {
                color: rgba(136, 138, 146, 0.48);
                font-size: 15px;
                opacity: 1;
                font-family: "averta-bold";
            }

            .contact-form input[type='email']:-ms-input-placeholder, .contact-form input[type='text']:-ms-input-placeholder, .contact-form textarea:-ms-input-placeholder {
                color: rgba(136, 138, 146, 0.48);
                font-size: 15px;
                opacity: 1;
                font-family: "averta-bold";
            }

            .contact-form input[type='email']:hover, .contact-form input[type='text']:hover, .contact-form textarea:hover, .contact-form input[type='email']:focus, .contact-form input[type='text']:focus, .contact-form textarea:focus {
                border-color: #7151ed !important;
            }

        .contact-form input[type='submit'] {
            color: #fff;
            font-size: 15px;
            font-family: "averta-bold";
            border: 2px solid #7151ed;
            background-color: #7151ed;
            height: 44px;
            margin-top: 20px;
            line-height: 40px;
            padding-left: 130px;
            padding-right: 130px;
            border-radius: 5px;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            -webkit-transition: all 0.3s ease 0s;
            transition: all 0.3s ease 0s;
        }

            .contact-form input[type='submit']:hover {
                background-color: #fff;
                color: #7151ed;
            }

    @media screen and (max-width: 599px) {
        .contact-form input[type='submit'] {
            width: 100%;
            padding-left: 0;
            padding-right: 0;
        }
    }
}

@media all {
    .vc_column-inner::after, .vc_row:after {
        clear: both;
    }

    .vc_row:after, .vc_row:before {
        content: " ";
        display: table;
    }

    .vc_column_container {
        width: 100%;
    }

    .vc_row {
        margin-left: -15px;
        margin-right: -15px;
    }

    .vc_col-sm-12, .vc_col-sm-4, .vc_col-sm-6 {
        position: relative;
        min-height: 1px;
        padding-left: 15px;
        padding-right: 15px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    @media (min-width:768px) {
        .vc_col-sm-12, .vc_col-sm-4, .vc_col-sm-6 {
            float: left;
        }

        .vc_col-sm-12 {
            width: 100%;
        }

        .vc_col-sm-6 {
            width: 50%;
        }

        .vc_col-sm-4 {
            width: 33.33333333%;
        }
    }

    .vc_row[data-vc-full-width] {
        -webkit-transition: opacity .5s ease;
        -o-transition: opacity .5s ease;
        transition: opacity .5s ease;
        overflow: hidden;
    }

    .vc_column-inner::after, .vc_column-inner::before {
        content: " ";
        display: table;
    }

    .vc_row-has-fill + .vc_row-full-width + .vc_row > .vc_column_container > .vc_column-inner, .vc_row-has-fill > .vc_column_container > .vc_column-inner {
        padding-top: 35px;
    }

    .vc_column_container {
        padding-left: 0;
        padding-right: 0;
    }

        .vc_column_container > .vc_column-inner {
            box-sizing: border-box;
            padding-left: 15px;
            padding-right: 15px;
            width: 100%;
        }
}
/*! CSS Used from: Embedded */
.gm-style {
    font: 400 11px Roboto, Arial, sans-serif;
    text-decoration: none;
}

    .gm-style img {
        max-width: none;
    }
/*! CSS Used from: Embedded */
h5 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
/*! CSS Used from: Embedded */
.vc_custom_1502261819304 {
    border-bottom-width: 1px !important;
    padding-bottom: 31px !important;
    border-bottom-color: #e7e8eb !important;
    border-bottom-style: solid !important;
}

.vc_custom_1502265723613 {
    border-bottom-width: 1px !important;
    border-bottom-color: #e5e6ea !important;
    border-bottom-style: solid !important;
}

.vc_custom_1502267517734 {
    background-color: #f9fafc !important;
}

.vc_custom_1502251206149 {
    padding-top: 0px !important;
}

.vc_custom_1502251209858 {
    padding-top: 0px !important;
}

.vc_custom_1502251213318 {
    padding-top: 0px !important;
}

.vc_custom_1502266273143 {
    padding-top: 66px !important;
}

.vc_custom_1502266352055 {
    padding-top: 0px !important;
}

.vc_custom_1502269052587 {
    padding-top: 53px !important;
}

@media all {
    div, h1 {
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    ::-moz-selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    ::selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    h1 {
        color: #0f120b;
        font-family: "averta-bold";
        line-height: 1;
        margin-top: 0;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 60px;
    }

    div {
        border: 0 none;
        margin: 0;
        outline: 0 none;
        padding: 0;
    }

    .text-center {
        text-align: center;
    }

    .page-title {
        background-color: #59349e;
    }

        .page-title h1 {
            color: #fff;
            font-size: 52px;
            font-family: 'averta-bold';
        }

        .page-title#page-title-1 {
            padding-bottom: 75px;
            padding-top: 73px;
        }

            .page-title#page-title-1 h1 {
                margin: 0;
            }

    @media screen and (max-width: 767px) {
        .page-title#page-title-1 h1 {
            font-style: 28px;
        }
    }
}

#primary {
    width: 100%;
}