﻿/*! CSS Used from: https://unica.vn/media/styles_v2018/bootstrap.css */
main {
    display: block;
}

a {
    background: transparent;
}

    a:active, a:hover {
        outline: 0;
    }

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

    input::-moz-focus-inner {
        border: 0;
        padding: 0;
    }

input {
    line-height: normal;
}

@media print {
    * {
        text-shadow: none !important;
        color: #000 !important;
        background: transparent !important;
        box-shadow: none !important;
    }

    a, a:visited {
        text-decoration: underline;
    }

        a[href]:after {
            content: " (" attr(href) ")";
        }

        a[href^="#"]:after {
            content: "";
        }

    h2 {
        orphans: 3;
        widows: 3;
    }

    h2 {
        page-break-after: avoid;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

a {
    color: #888a92;
    text-decoration: none;
}

    a:focus {
        outline: thin dotted;
        outline: 5px auto -webkit-focus-ring-color;
        outline-offset: -2px;
    }

h1, h2 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}

h1, h2 {
    margin-top: 20px;
    margin-bottom: 10px;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 30px;
}

ol {
    margin-top: 0;
    margin-bottom: 10px;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 1200px) {
    .col-lg-12 {
        float: left;
    }

    .col-lg-12 {
        width: 100%;
    }
}

.container:before, .container:after, .container-fluid:before, .container-fluid:after, .row:before, .row:after {
    content: " ";
    display: table;
}

.container:after, .container-fluid:after, .row:after {
    clear: both;
}
/*! CSS Used from: https://unica.vn/media/styles_v2018/main.css */
div, a, ol, li {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

ol {
    list-style: none;
}

a:hover {
    text-decoration: none;
    color: #7151ed;
}

.page-subheader__inner {
    background-image: url(https://unica.vn/uploadmydang/banner-132.jpg);
    background-repeat: no-repeat;
    height: 250px;
}

.page-subheader__container {
    width: 60%;
    margin: 0 auto;
}

.page-subheader__title {
    font-weight: 300;
    font-size: 38px;
    line-height: 46px;
    margin-bottom: 40px;
    padding-top: 30px;
}

.list__item a:hover {
    color: #f26c4f;
}

.search--subheader .search__input {
    border-radius: 10px;
    padding: 12px 20px 14px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.85);
    font-size: 22px;
    -webkit-appearance: none;
    outline: none;
    border: 1px solid transparent;
}

.page-main__inner {
    min-height: 600px;
    background-color: #fff;
}

.page-content--single-wide {
    padding-top: 20px;
    padding-bottom: 176px;
}

.page-title {
    font-size: 36px;
    line-height: 31px;
    font-weight: bold;
    color: #32373b;
    margin-bottom: 32px;
}

.three--default {
    border-bottom: 1px solid #f3f4f5;
}

.three--default {
    margin-bottom: 24px;
    display: inline-block;
    width: 100%;
}

    .three--default.three--last {
        border-bottom: none;
        margin-bottom: 0;
    }

    .three--default .three__item {
        padding-bottom: 32px;
    }

.three__item {
    width: 50%;
    float: left;
}

.block {
    margin: 0 0 20px 0;
}

.block__body ol li {
    list-style: decimal;
}

.block--linklist .block__title {
    font-weight: 300;
}

.block__title {
    margin-bottom: 26px;
}

.block--linklist .block__body {
    margin-bottom:30px;
}

.block--linklist .block__body a{
    font-size:18px;
    }

    .block__title-link {
        color: black;
        font-size: 30px;
    }

.list {
    list-style-type: none;
    line-height: normal;
}

.list--small .list__item {
    margin-bottom: 12px;
}

.list--small .list__link {
    color: #5b5f62;
}

.three:after, .block:after {
    display: table;
    clear: both;
    content: " ";
}

@media (min-width:1921px) and (max-width:2560px) {
    main > .container {
        width: auto;
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media (max-width:767px) {
    .pdm-No {
        padding: 0;
    }
}

@media (max-width:767px) {
    .page-subheader__inner {
        height: auto;
        padding-bottom: 10px;
    }

    .page-subheader__container {
        width: 90%;
    }

    .page-subheader__title {
        font-size: 26px;
        line-height: unset;
    }

    .page-content--single-wide {
        padding: 0 10px;
    }

    .page-title {
        font-size: 24px;
    }

    .block__title-link {
        font-size: 20px;
    }

    .block--linklist .block__body {
        padding-right: 10px;
    }

    .list {
        margin-left: 15px;
    }

    .search--subheader .search__input {
        font-size: 14px;
    }
}
.answer {
    border: 1px solid rgba(0,0,0,.1);
    margin: 0 -1px 24px 0;
    text-align: left;
    width: 100%;
    border-collapse: separate;
    border-radius: 5px;
    padding:6px;
    margin-left:10px;
    font-style:italic;
    width:60%;
}

.dropbtn {
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

.dropdown a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}