﻿/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/plugins/csh-login/assets/css/default.css ; media=all */
@media all {
    * {
        box-sizing: border-box;
        moz-box-sizing: border-box;
        webkit-box-sizing: border-box;
    }

    .login_dialog {
        position: relative;
    }

    input, label {
        font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
        font-size: 16px !important;
        font-size: 0.9375rem;
        font-weight: 400;
        line-height: 1.66;
    }

    .login_dialog h2 {
        font-size: 28px !important;
    }

    .login_dialog label {
        display: inline-table;
    }

    .login_dialog input::placeholder {
        opacity: 0.8 !important;
    }

    a.boxclose {
        position: absolute;
    }

    #allow_pass {
        display: none;
    }

    .pass_and_register a {
        text-decoration: none;
        font-size: 16px;
    }

    .social-login {
        list-style-type: none;
        margin-top: 15px;
    }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/plugins/csh-login/assets/css/layout1.css ; media=all */
@media all {
    .login_dialog {
        border: 1px solid rgba(161, 161, 161, 0.53);
        border-radius: 5px;
        background: #FFFFFF;
        padding-top: 5% !important;
        padding-bottom: 10% !important;
        padding-right: 15% !important;
        padding-left: 15% !important;
    }

        .login_dialog label {
            display: inline-table;
            font-weight: normal;
            margin-bottom: 5px;
        }

        .login_dialog h2 {
            margin-top: 15px;
            margin-bottom: 20px;
            text-align: center;
            font-weight: 400;
        }

        .login_dialog input[type=text], [type=password], [type=email], [type=date] {
            border: 1px solid rgba(96, 125, 139, 0.25) !important;
            min-height: 32px !important;
            margin-bottom: 10px !important;
            padding: 7px 12px !important;
            width: 100%;
        }

        .login_dialog input[type=submit] {
            display: block;
            cursor: pointer;
            margin: 10px 0px 15px 0px;
            font-weight: bold;
            width: 100%;
            min-height: 32px !important;
        }

        .login_dialog .pass_and_register {
            position: relative;
            top: 15px;
        }

    .pass_and_register a {
        margin-right: 10px;
    }

    .alert_status {
        background: #f44336 !important;
        color: #f1f1f1 !important;
        font-style: italic !important;
        padding-left: 10px;
    }

    a.boxclose {
        width: 30px;
        height: 30px;
        top: 0px;
        right: 0px;
        text-align: center;
        cursor: pointer;
        line-height: 30px;
        color: #009688;
        z-index: 10;
        font-size: 18px;
    }

        a.boxclose:hover {
            background: rgba(0,0,0,0.1);
        }

    .boxclose:after {
        content: '\00D7';
        display: inline-block;
    }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/css/bootstrap.min.css ; media=all */
@media all {
    a {
        background-color: transparent;
    }

        a:active, a:hover {
            outline: 0;
        }

    input {
        margin: 0;
        font: inherit;
        color: inherit;
    }

        input[type=submit] {
            -webkit-appearance: button;
            cursor: pointer;
        }

        input::-moz-focus-inner {
            padding: 0;
            border: 0;
        }

    input {
        line-height: normal;
    }

        input[type=checkbox] {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 0;
        }

    @media print {
        *, :after, :before {
            color: #000 !important;
            text-shadow: none !important;
            background: 0 0 !important;
            -webkit-box-shadow: none !important;
            box-shadow: none !important;
        }

        a, a:visited {
            text-decoration: underline;
        }

            a[href]:after {
                content: " (" attr(href) ")";
            }

        h2 {
            orphans: 3;
            widows: 3;
        }

        h2 {
            page-break-after: avoid;
        }
    }

    * {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    :after, :before {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    input {
        font-family: inherit;
        font-size: inherit;
        line-height: inherit;
    }

    a {
        color: #337ab7;
        text-decoration: none;
    }

        a:focus, a:hover {
            color: #23527c;
            text-decoration: underline;
        }

        a:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }

    h2 {
        font-family: inherit;
        font-weight: 500;
        line-height: 1.1;
        color: inherit;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 10px;
    }

    h2 {
        font-size: 30px;
    }

    label {
        display: inline-block;
        max-width: 100%;
        margin-bottom: 5px;
        font-weight: 700;
    }

    input[type=checkbox] {
        margin: 4px 0 0;
        margin-top: 1px\9;
        line-height: normal;
    }

        input[type=checkbox]:focus {
            outline: thin dotted;
            outline: 5px auto -webkit-focus-ring-color;
            outline-offset: -2px;
        }
}
/*! CSS Used from: http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/css/static.css ; media=all */
@media all {
    div, span, h2, a, form, label {
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        -webkit-font-smoothing: antialiased;
    }

    input[type='email'], input[type='text'], input[type='password'] {
        border: 1px solid #e5e6ea;
        transition: all 0.25s ease 0s;
    }

        input[type='email']:hover, input[type='text']:hover, input[type='password']:hover, input[type='email']:focus, input[type='text']:focus, input[type='password']:focus {
            border-color: #7151ed;
        }

    input {
        font: inherit;
        margin: 0;
    }

        input[type="submit"] {
            -webkit-appearance: button;
            cursor: pointer;
        }

        input::-moz-focus-inner {
            border: 0;
            padding: 0;
        }

    input {
        line-height: normal;
        *overflow: visible;
    }

        input[type="checkbox"] {
            padding: 0;
        }

    *:before, *:after {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    input {
        font: inherit;
    }

    ::-moz-selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    ::selection {
        background: rgba(113, 81, 237, 0.75);
        color: #fff;
    }

    a {
        text-decoration: none;
        outline: none;
        letter-spacing: 0.03;
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
    }

        a:hover, a:active, a:focus {
            outline: none;
            text-decoration: none;
        }

    h2 {
        color: #0f120b;
        font-family: "averta-bold";
        line-height: 1;
        margin-top: 0;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 50px;
    }

    a, div, form, label, span {
        border: 0 none;
        margin: 0;
        outline: 0 none;
        padding: 0;
    }

    input {
        border: none;
    }

        input[type="checkbox"] {
            margin: 0 10px;
        }

        input[type="password"] {
            border: 1px solid #ccc;
        }

        input, input[type="submit"]:focus {
            outline: 0 none;
        }

    body .login_dialog {
        max-width: 500px;
        padding: 30px !important;
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        transform: translatey(-50%);
    }

        body .login_dialog h2 {
            margin-top: 0;
        }

        body .login_dialog input[type="text"], body .login_dialog input[type="password"], body .login_dialog input[type="email"], body .login_dialog input[type="date"] {
            border-radius: 6px;
            height: 40px;
        }

            body .login_dialog input[type="text"]::-webkit-input-placeholder, body .login_dialog input[type="password"]::-webkit-input-placeholder, body .login_dialog input[type="email"]::-webkit-input-placeholder {
                color: rgba(68, 68, 68, 0.68);
                letter-spacing: 0.05em;
                font-size: 14px;
                font-family: "averta-regular";
                opacity: 1;
                font-style: italic;
            }

            body .login_dialog input[type="text"]::-moz-placeholder, body .login_dialog input[type="password"]::-moz-placeholder, body .login_dialog input[type="email"]::-moz-placeholder {
                color: rgba(68, 68, 68, 0.68);
                letter-spacing: 0.05em;
                font-size: 14px;
                font-family: "averta-regular";
                opacity: 1;
                font-style: italic;
            }

            body .login_dialog input[type="text"]:-moz-placeholder, body .login_dialog input[type="password"]:-moz-placeholder, body .login_dialog input[type="email"]:-moz-placeholder {
                color: rgba(68, 68, 68, 0.68);
                letter-spacing: 0.05em;
                font-size: 14px;
                font-family: "averta-regular";
                opacity: 1;
                font-style: italic;
            }

            body .login_dialog input[type="text"]:-ms-input-placeholder, body .login_dialog input[type="password"]:-ms-input-placeholder, body .login_dialog input[type="email"]:-ms-input-placeholder {
                color: rgba(68, 68, 68, 0.68);
                letter-spacing: 0.05em;
                font-size: 14px;
                font-family: "averta-regular";
                opacity: 1;
                font-style: italic;
            }

        body .login_dialog input[type='submit'] {
            font-family: "averta-semibold";
            font-size: 15px;
            border-radius: 6px;
            background-color: #7151ed;
            height: 44px;
            font-weight: 400;
            display: inline-block;
            padding: 0 40px;
            text-transform: uppercase;
            margin-top: 15px;
            line-height: 40px;
            color: #fff;
            box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
            border: 2px solid #7151ed;
            transition: all 0.3s ease 0s;
        }

            body .login_dialog input[type='submit']:hover {
                background-color: #fff;
                color: #7151ed;
            }
}
/*! CSS Used from: Embedded */
h2 {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.24s ease-in-out;
    -moz-transition: opacity 0.24s ease-in-out;
    transition: opacity 0.24s ease-in-out;
}
/*! CSS Used fontfaces */
@font-face {
    font-family: 'averta-bold';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_bold-webfont.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-regular';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'averta-semibold';
    src: url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_semibold-webfont.woff2') format('woff2'), url('http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/themes/book-junky/assets/fonts/averta_semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
