﻿@model ProjectSEM3.Models.Book

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
    ViewData["Active"] = "Books";
    var category = ViewData["category"] as List<Category>;
}

<link href="~/css/bootstrap-multiselect.css" rel="stylesheet" />
<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Books"><i class="fa fa-book"></i> Book</a></li>
            <li class="active">Create</li>
        </ol>
    </h6>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Add Book</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger box-body"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Snippet" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Snippet" class="form-control" />
                            <span asp-validation-for="Snippet" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Thumbnail" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Thumbnail" class="form-control" />
                            <span asp-validation-for="Thumbnail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BookCategory" class="control-label col-sm-2"> Categories</label>
                        <div class="col-sm-10">
                            <select id="example-getting-started" multiple="multiple" style="max-height: 20px">
                                @foreach (var check in category)
                                {
                                    <option value="@check.Id" name="categoryId[]"> @check.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cover" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Cover" class="form-control" />
                            <span asp-validation-for="Cover" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Overview" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Overview" class="form-control" />
                            <span asp-validation-for="Overview" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Published" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Published" class="form-control" />
                            <span asp-validation-for="Published" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hardcover" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Hardcover" class="form-control" />
                            <span asp-validation-for="Hardcover" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Language" class="form-control" />
                            <span asp-validation-for="Language" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dimensions" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Dimensions" class="form-control" />
                            <span asp-validation-for="Dimensions" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Total" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Total" class="form-control" />
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorId" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="AuthorId" class="form-control" />
                            <span asp-validation-for="AuthorId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group col-sm-2">
                            <input type="submit" value="Create" class="btn btn-info" />
                        </div>
                        <div class="btn btn-default">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/js/bootstrap-multiselect.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#example-getting-started').multiselect({
                maxHeight: 300,
                buttonWidth: 500,
                includeSelectAllOption: true,
                enableFiltering: true
            });
        });

    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}