﻿@model ProjectSEM3.Models.Book

@{
    ViewData["Title"] = "Delete";
    Layout = "_Layout2";
    ViewData["Active"] = "Books";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Books"><i class="fa fa-book"></i> Book</a></li>
            <li class="active">Delete</li>
        </ol>
    </h6>
    <h3>Are you sure you want to delete this?</h3>
</section>
<section class="content container-fluid">
    <div class="box box-danger">
        <div class="box-header">
            <h4>Book</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Snippet)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Snippet)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Thumbnail)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Thumbnail)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Price)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Price)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Cover)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Cover)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Overview)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Overview)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Published)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Published)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Hardcover)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Hardcover)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Language)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Language)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Dimensions)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Dimensions)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.CreatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.CreatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.UpdatedAt)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.UpdatedAt)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Status)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Status)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.Total)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.Total)
                    </dd>
                    <dt>
                        @Html.DisplayNameFor(model => model.AuthorId)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.AuthorId)
                    </dd>
                </dl>
                <form asp-action="Delete">
                    <div class="form-group col-sm-2">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                    </div>
                    <div class="form-group btn btn-default">
                        <a asp-action="Index">Back to List</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

