﻿@model ProjectSEM3.Models.Book

@{
    ViewData["Title"] = "Edit";
    Layout = "_Layout2";
    ViewData["Active"] = "Books";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Books"><i class="fa fa-book"></i>Book</a></li>
            <li class="active">Edit</li>
        </ol>
    </h6>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Book</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Edit" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger box-body"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Snippet" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Snippet" class="form-control" />
                            <span asp-validation-for="Snippet" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Thumbnail" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Thumbnail" class="form-control" />
                            <span asp-validation-for="Thumbnail" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Price" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Cover" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Cover" class="form-control" />
                            <span asp-validation-for="Cover" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Overview" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Overview" class="form-control" />
                            <span asp-validation-for="Overview" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Published" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Published" class="form-control" />
                            <span asp-validation-for="Published" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hardcover" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Hardcover" class="form-control" />
                            <span asp-validation-for="Hardcover" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Language" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Language" class="form-control" />
                            <span asp-validation-for="Language" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dimensions" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Dimensions" class="form-control" />
                            <span asp-validation-for="Dimensions" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="UpdatedAt" class="form-control" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Status" class="form-control">
                                <option value="1">Active</option>
                                <option value="0">Deactive</option>
                                <option value="2">OutOfStock</option>
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Total" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Total" class="form-control" />
                            <span asp-validation-for="Total" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="AuthorId" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="AuthorId" class="form-control" />
                            <span asp-validation-for="AuthorId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group col-sm-2">
                            <input type="submit" value="Save" class="btn btn-warning" />
                        </div>
                        <div class="form-group btn btn-default">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

        @*@section Scripts {
            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        }*@
