﻿@model ProjectSEM3.Models.Account

@{
    Layout = null;
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/FormLayout.css" /><link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/css/font.css" rel="stylesheet" />
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</environment>
<style>
    .alert_header {
        position: fixed;
        top: 50px;
        left: 50%;
        transform: translateX(-50%);
        font-size: 14px;
    }
</style>
<div class="alert_header">
    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["ErrorMessage"].ToString()
        </div>
    }
</div>
<div class="login_dialog">

    <a class="boxclose"></a>

    <form asp-action="SignIn">
        <h2>Please Login</h2>
        <label for="login_user"> Username</label>
        <input type="text" asp-for="Username" />
        <label for="pass_user"> Password </label>
        <input type="password" asp-for="Password" />
        <label for="rememberme" id="lb_rememberme">
            <input name="rememberme" type="checkbox" id="rememberme" value="forever" />
            Remember Me
        </label>
        <input type="submit" name="login_submit" value="LOGIN" class="login_submit" />
        <label for="register">
            <a asp-action="Register">Register new account</a>
        </label>
        <div class="social-login">


        </div>
    </form>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
