﻿@{
    ViewData["Title"] = "Account";
    Layout = "_Layout";
    var userAuth = ViewData["userAuth"] as Account;
}

<link href="~/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/client/css/js_composer.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />
<link href="~/client/css/woocommerce.css" rel="stylesheet" />
<link href="~/client/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />

<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid width-fill vc_custom_1504772666848 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1504755756862">
            <div class="wpb_wrapper">
                <div class="woocommerce">
                    <div class="wrap-profile">
                        <div class="row">
                            <div class="col-xs-12 col-md-5">
                                <div class="account-nav">
                                    <div class="wrap-user clearfix" style="padding-left: 50.5px;">
                                        <div class="bj-user-head-logo">
                                            @if (userAuth.Avatar == null)
                                            {
                                                <img alt="" src="https://api.adorable.io/avatars/285/ @userAuth.Password .png" class="avatar avatar-85 photo" height="85" width="85">
                                            }
                                            else
                                            {
                                                <img alt="" src="@userAuth.Avatar" class="avatar avatar-85 photo" height="85" width="85">
                                            }

                                        </div>
                                        <div class="bj-user-name">
                                            @userAuth.FullName
                                        </div>
                                    </div>
                                    <nav class="MyAccount-navigation">
                                        <ul role="tablist">
                                            <li role="presentation" class="active woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--dashboard">
                                                <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab">Dashboard</a>
                                            </li>
                                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-account">
                                                <a href="#step3" data-toggle="tab" aria-controls="step3" role="tab">Account details</a>
                                            </li>
                                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--edit-address">
                                                <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab">Addresses</a>
                                            </li>
                                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--orders">
                                                <a href="#step6" data-toggle="tab" aria-controls="step6" role="tab">Orders</a>
                                            </li>
                                            <li class="woocommerce-MyAccount-navigation-link woocommerce-MyAccount-navigation-link--book-shelf">
                                                <a href="#step7" data-toggle="tab" aria-controls="step7" role="tab">My Bookshelf</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>

                            <form role="form">
                                <div class="tab-content">
                                    <!--Tab Dashboard-->
                                    <div class="tab-pane active" role="tabpanel" id="step1">
                                        <div class="wrap-account-content col-xs-12 col-md-7">
                                            <div class="account-content">
                                                <div class="woocommerce-notices-wrapper"></div><div class="wrap-dashboard">
                                                    <p>Hello <strong>@userAuth.FullName</strong> (not <strong>@userAuth.FullName</strong>? <a asp-action="Logout" asp-controller="Auth">Log out</a>)</p>
                                                    <p>From your account dashboard you can view your <a href="#">recent orders</a>, manage your <a href="#">shipping and billing addresses</a> and <a href="#">edit your password and account details</a>.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tab Account Details-->
                                    <div class="tab-pane" role="tabpanel" id="step3">
                                        <div class="wrap-account-content col-xs-12 col-md-7">
                                            <div class="account-content" style="padding-right: 104.5px;">
                                                <div class="woocommerce-notices-wrapper"></div>
                                                <div class="wrap-edit-account">
                                                    <form class="woocommerce-EditAccountForm edit-account" action="" method="post">
                                                        <p class="woocommerce-form-row woocommerce-form-row--first form-row form-row-first">
                                                            <label for="account_first_name">First name <span class="required">*</span></label>
                                                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_first_name" id="account_first_name" value="">
                                                        </p>
                                                        <p class="woocommerce-form-row woocommerce-form-row--last form-row form-row-last">
                                                            <label for="account_last_name">Last name <span class="required">*</span></label>
                                                            <input type="text" class="woocommerce-Input woocommerce-Input--text input-text" name="account_last_name" id="account_last_name" value="">
                                                        </p>
                                                        <div class="clear"></div>
                                                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                            <label for="account_email">Email address <span class="required">*</span></label>
                                                            <input type="email" class="woocommerce-Input woocommerce-Input--email input-text" name="account_email" id="account_email" value="ndv.hades@gmail.com">
                                                        </p>
                                                        <fieldset>
                                                            <legend>Password change</legend>
                                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                                <label for="password_current">Current password (leave blank to leave unchanged)</label>
                                                                <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_current" id="password_current">
                                                            </p>
                                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                                <label for="password_1">New password (leave blank to leave unchanged)</label>
                                                                <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_1" id="password_1">
                                                            </p>
                                                            <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                                                                <label for="password_2">Confirm new password</label>
                                                                <input type="password" class="woocommerce-Input woocommerce-Input--password input-text" name="password_2" id="password_2">
                                                            </p>
                                                        </fieldset>
                                                        <div class="clear"></div>
                                                        <p>
                                                            <input type="hidden" id="_wpnonce" name="_wpnonce" value="2c9011e6bb"><input type="hidden" name="_wp_http_referer" value="/themeforest/bookjunky/?page_id=432&amp;edit-account">			<input type="submit" class="woocommerce-Button button" name="save_account_details" value="Save changes">
                                                            <input type="hidden" name="action" value="save_account_details">
                                                        </p>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tab Address-->
                                    <div class="tab-pane" role="tabpanel" id="step4">
                                        <div class="wrap-account-content col-xs-12 col-md-7">
                                            <div class="account-content" style="padding-right: 104.5px;">
                                                <div class="woocommerce-notices-wrapper"></div><div class="wrap-edit-address">
                                                    <div class="wrap-address">
                                                        <h4>Address</h4>
                                                        <div class="woocommerce-address">
                                                            <div class="address-title clearfix">
                                                                <h3>Billing address</h3>
                                                                <a href="#" class="edit">Edit</a>
                                                            </div>
                                                            <div class="address-content">
                                                                You have not set up this type of address yet.
                                                            </div>
                                                        </div>
                                                        <div class="woocommerce-address">
                                                            <div class="address-title clearfix">
                                                                <h3>Shipping address</h3>
                                                                <a href="#" class="edit">Edit</a>
                                                            </div>
                                                            <div class="address-content">
                                                                You have not set up this type of address yet.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tab Orders-->
                                    <div class="tab-pane" role="tabpanel" id="step6">
                                        <div class="wrap-account-content col-xs-12 col-md-7">
                                            <div class="account-content" style="padding-right: 104.5px;">
                                                <div class="woocommerce-notices-wrapper"></div><div class="wrap-account-order">
                                                    <div class="order-header">
                                                        <h6>Orders</h6>
                                                        <ul class="info">
                                                            <li class="completed">Completed</li>
                                                            <li class="processing">Processing</li>
                                                            <li class="cancelled">Order Cancelled</li>
                                                        </ul>
                                                    </div>
                                                    <div style="width:118%">
                                                        <table style="font-size:10px" class="tableoder">
                                                            <thead>
                                                                <tr>
                                                                    <th>
                                                                        <span class="hidden-xs hidden-sm hidden-md">
                                                                            Code Orders
                                                                        </span>
                                                                        <span class="hidden-lg">Code</span>
                                                                    </th>
                                                                    <th>
                                                                        Purchase Date
                                                                    </th>
                                                                    <th>Product</th>
                                                                    <th>Total Money</th>
                                                                    <th>
                                                                        <span class="hidden-xs hidden-sm hidden-md">Order<br>Status</span>
                                                                        <span class="hidden-lg">Trạng thái</span>
                                                                    </th>
                                                                </tr>
                                                            </thead>
                                                            <tbody>
                                                                <tr>
                                                                    <td><a asp-controller="Home" asp-action="OrderDetail">712414044</a></td>
                                                                    <td>20/03/2019</td>
                                                                    <td>The Happy Lemon</td>
                                                                    <td>$30</td>
                                                                    <td>
                                                                        <ul class="info">
                                                                            <li style="font-size:10px" class="processing"></li>
                                                                        </ul>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Tab My Bookshelf-->
                                    <div class="tab-pane" role="tabpanel" id="step7">
                                        <div class="wrap-account-content col-xs-12 col-md-7">
                                            <div class="account-content" style="padding-right: 104.5px;">
                                                <div class="woocommerce-notices-wrapper"></div><div class="cs-book_shelf">
                                                    <div class="book-junky-shop">
                                                        <div class="book-junky-products">
                                                            <h4>My Bookshelf</h4>
                                                            <div class="row">
                                                                <h5 class="book-empty">BookShelf Empty !</h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>