﻿@model ProjectSEM3.Models.Author;
@{
    ViewData["Title"] = "Author Information";
}
<link href="~/css/AuthorLayout.css" rel="stylesheet" />

<div class="page-title-author">
    <div class="wrap-backround" style="background-image: url(&quot;http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post_8.jpg&quot;);">
    </div>

    <div class="wrap-content">
        <div class="avatar">
            <img src="@Model.Avatar">
        </div>

        <h3 class="name-author">@Model.FullName</h3>

        <p class="des-author">@Model.Quote</p>

        <div class="share">
            <p class="title-share">SHARE THIS AUTHOR</p>

            <ul>
                <li>
                    <a class="facebook"
                       title="Share this article to Facebook"
                       target="_blank"
                       href="#">
                        <i class="zmdi zmdi-facebook"></i>
                    </a>
                </li>
                <li>
                    <a class="twitter"
                       title="Share this article to Twitter"
                       target="_blank"
                       href="#">
                        <i class="zmdi zmdi-twitter"></i>
                    </a>
                </li>
                <li><a href="#"><i class="zmdi zmdi-instagram"></i></a></li>
                <li>
                    <a title="Share this article to GooglePlus"
                       target="_blank" href="">
                        <i class="zmdi zmdi-email"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>