﻿@{
    ViewData["Title"] = "Cart";
}
<environment include="Development">
    <link href="~/css/ShopCartLayout.css" rel="stylesheet" />
</environment>

<div id="page-title-1" class="page-title text-center">
    <h1>Shop Cart</h1>
</div>
<div id="content" class="site-content">
    <div id="primary" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <main id="main" class="site-main">

                    <article id="post-393" class="post-393 page type-page status-publish hentry">
                        <div class="entry-content">

                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="woocommerce">
                                                <div class="woocommerce-notices-wrapper"></div>
                                                <form class="woocommerce-cart-form book-junky-cart">

                                                    <table class="shop_table cart woocommerce-cart-form__contents" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th class="product-remove">&nbsp;</th>
                                                                <th class="product-thumbnail">&nbsp;</th>
                                                                <th class="product-name">Product</th>
                                                                <th class="product-price">Price</th>
                                                                <th class="product-quantity">Quantity</th>
                                                                <th class="product-subtotal">Total</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody id="resultsCart">
                                                            <tr>
                                                                <td colspan="6" class="actions">
                                                                    <div class="coupon">
                                                                        <label for="coupon_code">Coupon:</label> <input type="text" name="coupon_code" class="input-text" id="coupon_code" value="" placeholder="Coupon code" /> <input type="submit" class="button" name="apply_coupon" value="Apply coupon" />
                                                                    </div>
                                                                    <input type="button" id="updateCart" class="button" name="update_cart" value="Update cart" />
                                                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="ebd1bd2ab8" /><input type="hidden" name="_wp_http_referer" value="/themeforest/bookjunky/?page_id=393" />
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                                <div class="cart-collaterals">
                                                    <div class="cart_totals ">
                                                        <h2>Cart totals</h2>
                                                        <table cellspacing="0" class="shop_table shop_table_responsive">
                                                            <tr class="cart-subtotal">
                                                                <th>Subtotal</th>
                                                                <td data-title="Subtotal"><span class="woocommerce-Price-amount amount resultTotal"></span></td>
                                                            </tr>
                                                            <tr class="shipping">
                                                                <th>Shipping</th>
                                                                <td data-title="Shipping">
                                                                    Free shipping < 3km <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0" value="free_shipping:1" class="shipping_method" />
                                                                </td>
                                                            </tr>
                                                            <tr class="order-total">
                                                                <th>Total</th>
                                                                <td data-title="Total"><strong><span class="woocommerce-Price-amount amount resultTotal"></span></strong> </td>
                                                            </tr>
                                                        </table>
                                                        <div class="wc-proceed-to-checkout">
                                                            <a asp-controller="Home" asp-action="Checkout" class="checkout-button button alt wc-forward">
                                                                Proceed to checkout
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- .entry-content -->
                        <footer class="edit-page"></footer><!-- .entry-meta -->
                    </article><!-- #post -->

                </main><!-- .site-main -->
            </div>
        </div>
    </div><!-- .content-area -->

</div>

@section Scripts {
    <script type="text/javascript">
        var listCart = localStorage.getItem('listCart');

        function generateBlockCart(id, thumb, name, price, quantity, total) {
            var output = "";
            output += '<tr class="woocommerce-cart-form__cart-item cart_item">';

            output += '<td class="product-remove">';
            output += '<a href="javascript:void(0)" class="remove" aria-label="Remove this item" data-product_id="7" data-product_sku="the_happy_lemon">&times;</a>';
            output += '</td>';

            output += '<td class="product-thumbnail">';
            output += '<a href="/Home/Detail?id=' + id + '"><img width="300" height="455" src="' + thumb + '" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail" alt="" srcset="' + thumb + ' 300w, ' + thumb + ' 330w" sizes="(max-width: 300px) 100vw, 300px" /></a>';
            output += '</td>';

            output += '<td class="product-name" data-title="Product">';
            output += '<a href="/Home/Detail?id=' + id + '">' + name + '</a>';
            output += '</td>';

            output += '<td class="product-price" data-title="Price">';
            output += '<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>' + price + '</span>';
            output += '</td>';

            output += '<td class="product-quantity" data-title="Quantity">';
            output += '<div class="quantity">';
            output += '<label class="screen-reader-text" for="quantity_5c757558d0c98">Quantity</label>';
            output += '<input type="number" data-id="' + id + '" id="quantity_' + id + '" class="input-text qty text" value="' + quantity + '" title="Qty" pattern="[0-9]*" inputmode="numeric" aria-labelledby="' + name + ' quantity" />';
            output += '</div>';
            output += '</td>';
            output += '<td class="product-subtotal" data-title="Total">';
            output += '<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>' + total + '</span>';
            output += '</td>';
            output += '</tr>';
            return output;
        }

        $(document).ready(() => {
            listCart = JSON.parse(listCart);
            if (listCart != undefined && listCart != null) {
                var totalPr = 0;
                for (var i = 0; i < listCart.books.length; i++) {
                    var id = listCart.books[i].Id;
                    var thumb = listCart.books[i].Thumbnail;
                    var name = listCart.books[i].Name;
                    var price = listCart.books[i].Price;
                    var quantity = listCart.books[i].Quantity;
                    var total = listCart.books[i].Total;
                    totalPr = totalPr + total;
                    $('#resultsCart').prepend(generateBlockCart(id, thumb, name, price, quantity, total));
                }
                $('.resultTotal').html('<span class="woocommerce-Price-currencySymbol">$</span>' + totalPr);
            }
            else
            {

            }

            $(".quantity input").keyup(function () {
                var id = $(this).attr('data-id');
                var quantity = $(this).val();
                for (var i = 0; i < listCart.books.length; i++) {
                    if (listCart.books[i].Id == id) {
                        listCart.books[i].Quantity = quantity;
                        listCart.books[i].Total = listCart.books[i].Price * quantity;
                        existsItem = true;
                        break;
                    }
                }
                localStorage.setItem('listCart', JSON.stringify(listCart));
            });

            $("#updateCart").click(() => {
                location.reload();
            });
        });
    </script>
}
