﻿@{
    ViewData["Title"] = "Categories";
}

<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/css/cms-style.css" rel="stylesheet" />
<link href="~/client/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/client/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/static1.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />
<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/client/css/js_composer.min.css" rel="stylesheet" />

<div id="page-title-1" class="page-title text-center">
    <h1>Action</h1>
</div>

<div id="content" class="site-content">
    <section id="primary" class="container blog-default is-sidebar-right">
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-8 col-lg-8">
                <main id="main" class="site-main">
                    <article id="post-60" class="clearfix post-60 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-comics tag-fiction tag-litterature tag-lorem-ipsum">
                        <div class="wrap-left">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=60">
                                <img width="415" height="380" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post_3-415x380.jpg" class="attachment-medium size-medium wp-post-image" alt="">
                            </a>
                        </div>
                        <div class="wrap-right">
                            <h3 class="entry-title"><a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=60">10 Ways You Might Be Reading Your Book Wrong</a></h3>
                            <div class="detail-date">
                                7<span>th</span> August 2017
                            </div>
                            <p>Proin eu sapien eget ligula consequat vestibulum sit amet in mauris. Integer commodo condimentum nunc, sed mattis dui consequat officia deserunt mollit anim id est</p>
                            <footer class="entry-footer">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=60">Read more</a>
                                <a href="#" class="nectar-love" id="nectar-love-60" title="Love this"> <i class="zmdi zmdi-favorite-outline"></i><span class="nectar-love-count">153</span> </a>
                            </footer><!-- .entry-footer -->
                        </div>
                    </article><!-- #post-## -->
                    <article id="post-56" class="clearfix post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-fiction tag-litterature">
                        <div class="wrap-left">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=56">
                                <img width="415" height="380" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-415x380.jpg" class="attachment-medium size-medium wp-post-image" alt="">
                            </a>
                        </div>
                        <div class="wrap-right">
                            <h3 class="entry-title"><a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=56">Why Are Books Made From Paper?</a></h3>
                            <div class="detail-date">
                                7<span>th</span> August 2017
                            </div>
                            <p>Proin eu sapien eget ligula consequat vestibulum sit amet in mauris. Integer commodo condimentum nunc, sed mattis dui consequat officia deserunt mollit anim id est</p>
                            <footer class="entry-footer">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=56">Read more</a>
                                <a href="#" class="nectar-love" id="nectar-love-56" title="Love this"> <i class="zmdi zmdi-favorite-outline"></i><span class="nectar-love-count">16</span> </a>
                            </footer><!-- .entry-footer -->
                        </div>
                    </article><!-- #post-## -->
                    <article id="post-54" class="clearfix post-54 post type-post status-publish format-gallery has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-comics tag-fiction tag-litterature post_format-post-format-gallery">
                        <div class="wrap-left">
                            <div id="gallery-nav" class="carousel slide" data-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="item">
                                        <img style="width:100%;" data-src="holder.js" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-3.jpg" alt="">
                                    </div>
                                    <div class="item active">
                                        <img style="width:100%;" data-src="holder.js" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-2.jpg" alt="">
                                    </div>
                                    <div class="item">
                                        <img style="width:100%;" data-src="holder.js" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-1.jpg" alt="">
                                    </div>
                                </div>
                                <a class="left control" href="#gallery-nav" role="button" data-slide="prev">
                                    <span class="fa fa-angle-left"></span>
                                </a>
                                <a class="right control" href="#gallery-nav" role="button" data-slide="next">
                                    <span class="fa fa-angle-right"></span>
                                </a>
                            </div>
                        </div>

                        <div class="wrap-right">
                            <h3 class="entry-title">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=54">The World of Abstract Art</a></h3>
                            <div class="detail-date">
                                7<span>th</span> August 2017
                            </div>
                            <p>Proin eu sapien eget ligula consequat vestibulum sit amet in mauris. Integer commodo condimentum nunc, sed mattis dui consequat officia deserunt mollit anim id est</p>
                            <footer class="entry-footer">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=54">Read more</a>
                                <a href="#" class="nectar-love" id="nectar-love-54" title="Love this"> <i class="zmdi zmdi-favorite-outline"></i><span class="nectar-love-count">141</span> </a>
                            </footer><!-- .entry-footer -->
                        </div>
                    </article><!-- #post-## -->

                    <article id="post-52" class="clearfix post-52 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-drama tag-fiction tag-litterature">
                        <div class="wrap-left">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=52">
                                <img width="415" height="380" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-2-415x380.jpg" class="attachment-medium size-medium wp-post-image" alt="">
                            </a>
                        </div>
                        <div class="wrap-right">
                            <h3 class="entry-title">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=52">The 5 Books You Must Read in 2017</a></h3>
                            <div class="detail-date">
                                7<span>th</span> August 2017
                            </div>
                            <p>Proin eu sapien eget ligula consequat vestibulum sit amet in mauris. Integer commodo condimentum nunc, sed mattis dui consequat officia deserunt mollit anim id est</p>
                            <footer class="entry-footer">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=52">Read more</a>
                                <a href="#" class="nectar-love" id="nectar-love-52" title="Love this"> <i class="zmdi zmdi-favorite-outline"></i><span class="nectar-love-count">341</span> </a>
                            </footer><!-- .entry-footer -->
                        </div>
                    </article><!-- #post-## -->

                </main><!-- #content -->
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4">
                <div id="widget-area" class="widget-area">

                    <aside id="search-3" class="widget widget_search">
                        <form action="http://demo.cmssuperheroes.com/themeforest/bookjunky/" class="searchform" method="get">
                            <div class="wrap-search">
                                <input type="text" class="form-search" name="s" value="" placeholder="Search...">
                                <button type="submit" class="search-submit"><i class="fa fa-search" aria-hidden="true"></i></button>
                                <input type="hidden" name="post_type" value="post">
                            </div>
                        </form>
                    </aside>
                    <aside id="categories-3" class="widget widget_categories">
                        <h3 class="wg-title">CATEGORIES</h3>		
                        <ul>
                            <li class="cat-item cat-item-23 current-cat">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=23">Action</a>
                            </li>
                            <li class="cat-item cat-item-26">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=26">Comedy</a>
                            </li>
                            <li class="cat-item cat-item-25">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=25">Drama</a>
                            </li>
                            <li class="cat-item cat-item-21">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=21">E-Books</a>
                            </li>
                            <li class="cat-item cat-item-22">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=22">Kids</a>
                            </li>
                            <li class="cat-item cat-item-24">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?cat=24">Romantic Comedy</a>
                            </li>
                        </ul>
                    </aside>
                    <aside id="cms_recent_posts-2" class="widget cms-recent-posts">
                        <h3 class="wg-title">RECENT POSTS</h3>                                    
                    <article class="recent-post-item clearfix post-60 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-comics tag-fiction tag-litterature tag-lorem-ipsum">
                            <div class="recent-post-thumbnail">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=60">
                                <img width="150" height="120" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post_3-150x120.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" sizes="(max-width: 150px) 100vw, 150px"></a>
                            </div>
                            <div class="recent-post-content">
                                <a class="entry-widget-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=60">10 Ways You Might Be Reading Your Book Wrong</a>
                                <p class="date-time">Aug 07,2017</p>
                            </div>
                        </article>
                        <article class="recent-post-item clearfix post-58 post type-post status-publish format-video has-post-thumbnail hentry category-comedy category-drama category-e-books tag-best-sellers tag-litterature post_format-post-format-video">
                            <div class="recent-post-thumbnail">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=58">
                                <img width="150" height="120" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post_8-150x120.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px"></a>
                            </div>
                            <div class="recent-post-content">
                                <a class="entry-widget-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=58">The World of Abstract Art Explained</a>
                                <p class="date-time">Aug 07,2017</p>
                            </div>
                        </article>
                        <article class="recent-post-item clearfix post-56 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-fiction tag-litterature">
                            <div class="recent-post-thumbnail">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=56"><img width="150" height="120" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-150x120.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px"></a>
                            </div>
                            <div class="recent-post-content">
                                <a class="entry-widget-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=56">Why Are Books Made From Paper?</a>
                                <p class="date-time">Aug 07,2017</p>
                            </div>
                        </article>
                        <article class="recent-post-item clearfix post-54 post type-post status-publish format-gallery has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-comics tag-fiction tag-litterature post_format-post-format-gallery">
                            <div class="recent-post-thumbnail">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=54"><img width="150" height="120" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post_7-150x120.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px"></a>
                            </div>
                            <div class="recent-post-content">
                                <a class="entry-widget-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=54">The World of Abstract Art</a>
                                <p class="date-time">Aug 07,2017</p>
                            </div>
                        </article>
                        <article class="recent-post-item clearfix post-52 post type-post status-publish format-standard has-post-thumbnail hentry category-action category-comedy category-drama tag-best-sellers tag-drama tag-fiction tag-litterature">
                            <div class="recent-post-thumbnail">
                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=52"><img width="150" height="120" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-2-150x120.jpg" class="attachment-thumbnail size-thumbnail wp-post-image" alt=""  sizes="(max-width: 150px) 100vw, 150px"></a>
                            </div>
                            <div class="recent-post-content">
                                <a class="entry-widget-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?p=52">The 5 Books You Must Read in 2017</a>
                                <p class="date-time">Aug 07,2017</p>
                            </div>
                        </article>
                        <!-- END WIDGET -->
                    </aside><aside id="tag_cloud-2" class="widget widget_tag_cloud">
                        <h3 class="wg-title">POPULAR TAGS</h3><div class="tagcloud">
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=best-sellers" class="tag-cloud-link tag-link-31 tag-link-position-1" style="font-size: 19.846153846154pt;" aria-label="Best Sellers (6 items)">Best Sellers</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=comics" class="tag-cloud-link tag-link-33 tag-link-position-2" style="font-size: 18.338461538462pt;" aria-label="Comics (5 items)">Comics</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=drama" class="tag-cloud-link tag-link-34 tag-link-position-3" style="font-size: 18.338461538462pt;" aria-label="Drama (5 items)">Drama</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=fiction" class="tag-cloud-link tag-link-35 tag-link-position-4" style="font-size: 22pt;" aria-label="Fiction (8 items)">Fiction</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=hard-cover" class="tag-cloud-link tag-link-32 tag-link-position-5" style="font-size: 14.461538461538pt;" aria-label="Hard Cover (3 items)">Hard Cover</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=litterature" class="tag-cloud-link tag-link-30 tag-link-position-6" style="font-size: 22pt;" aria-label="Litterature (8 items)">Litterature</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=lorem-ipsum" class="tag-cloud-link tag-link-29 tag-link-position-7" style="font-size: 11.876923076923pt;" aria-label="Lorem ipsum (2 items)">Lorem ipsum</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=top-10" class="tag-cloud-link tag-link-27 tag-link-position-8" style="font-size: 8pt;" aria-label="Top 10 (1 item)">Top 10</a>
                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?tag=top-10-book" class="tag-cloud-link tag-link-28 tag-link-position-9" style="font-size: 11.876923076923pt;" aria-label="Top 10 Book (2 items)">Top 10 Book</a>
                        </div>
                    </aside>
                </div><!-- .widget-area -->
            </div>
        </div>
    </section><!-- #primary -->
</div>
