﻿@{
    ViewData["Title"] = "Checkout";
}

@*<link href="~/client/css/default.css" rel="stylesheet" />*@
<link href="~/client/css/js_composer.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/client/css/js_composer.min.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />
<link href="~/client/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/client/css/woocommerce.css" rel="stylesheet" />
<link href="~/css/styles.css" rel="stylesheet" />
<link href="~/css/checkout.css" rel="stylesheet" />
<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />

<style id="woocommerce-inline-inline-css" type="text/css">
    .woocommerce form .form-row .required {
        visibility: visible;
    }
</style>


<div id="page-title-1" class="page-title text-center ">
    <h1>Shop Checkout</h1>
</div>

<div class="wpb_column vc_column_container vc_col-sm-12 page-template-default page page-id-396 logged-in woocommerce-checkout woocommerce-page woocommerce-js body-boxed wpb-js-composer js-comp-ver-5.7 vc_responsive">
    <div class="vc_column-inner">
        <div class="wpb_wrapper">
            <div class="woocommerce">
                <div class="woocommerce-notices-wrapper"></div>
                <div class="wrap-checkout">
                    <div class="row">
                        <div class="col-xs-12 col-md-7 col-lg-8">
                            <div class="content-checkout">
                                <div class="wrap-content-checkout">
                                    
                                    <form class="woocommerce-form woocommerce-form-login login" method="post" style="display: none;">
                                        <p>If you have shopped with us before, please enter your details below. If you are a new customer, please proceed to the Billing &amp; Shipping section.</p>
                                        <p class="form-row form-row-first">
                                            <label for="username">Username or email&nbsp;<span class="required">*</span></label>
                                            <input type="text" class="input-text" name="username" id="username" autocomplete="username">
                                        </p>
                                        <p class="form-row form-row-last">
                                            <label for="password">Password&nbsp;<span class="required">*</span></label>
                                            <input class="input-text" type="password" name="password" id="password" autocomplete="current-password">
                                        </p>
                                        <p class="form-row">
                                            <input type="hidden" id="woocommerce-login-nonce" name="woocommerce-login-nonce" value="9a6b681d61"><input type="hidden" name="_wp_http_referer" value="/themeforest/bookjunky/?page_id=396">		<button type="submit" class="button" name="login" value="Login">Login</button>
                                            <input type="hidden" name="redirect" value="http://demo.cmssuperheroes.com/themeforest/bookjunky/?page_id=396">
                                            <label class="woocommerce-form__label woocommerce-form__label-for-checkbox inline">
                                                <input class="woocommerce-form__input woocommerce-form__input-checkbox" name="rememberme" type="checkbox" id="rememberme" value="forever"> <span>Remember me</span>
                                            </label>
                                        </p>
                                        <p class="lost_password">
                                            <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?page_id=432&amp;lost-password">Lost your password?</a>
                                        </p>
                                        <div class="clear"></div>
                                    </form>
                                    <ul class="step-checkout">
                                        <li class="billing"><i class="step zmdi zmdi-check"></i>BILLING</li>
                                        <li class="shipping"><i class="step zmdi zmdi-check"></i>SHIPPING</li>
                                        <li class="payment"><i class="step zmdi zmdi-check"></i>PAYMENT</li>
                                    </ul>
                                    <form id="regForm" method="post" class="checkout woocommerce-checkout" action="">
                                        <div class="owl-theme">
                                            <div class="owl-stage-outer">
                                                <div class="owl-stage">
                                                    <!--Billing-->
                                                    <div class="tab">
                                                        <div class="woocommerce-billing-fields">
                                                            <h3>Billing</h3>
                                                            <div class="woocommerce-billing-fields__field-wrapper clearfix">
                                                                <p class="form-row form-row-first validate-required" id="billing_first_name_field" data-priority="10">
                                                                    <label for="billing_first_name" class="">First name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <input type="text" class="input-text " name="billing_first_name" id="billing_first_name" placeholder="" value="" autocomplete="given-name">
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-last validate-required" id="billing_last_name_field" data-priority="20">
                                                                    <label for="billing_last_name" class="">Last name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <input type="text" class="input-text " name="billing_last_name" id="billing_last_name" placeholder="" value="" autocomplete="family-name">
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-wide" id="billing_company_field" data-priority="30">
                                                                    <label for="billing_company" class="">Company name&nbsp;<span class="optional">(optional)</span></label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <input type="text" class="input-text " name="billing_company" id="billing_company" placeholder="" value="" autocomplete="organization">
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="billing_country_field" data-priority="40">
                                                                    <label for="billing_country" class="">Country&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <select name="billing_country" id="billing_country" class="country_to_state country_select " autocomplete="country">
                                                                            <option value="">Select a country…</option>
                                                                            <option value="AX">Åland Islands</option>
                                                                            <option value="AF">Afghanistan</option>
                                                                            <option value="AL">Albania</option>
                                                                            <option value="DZ">Algeria</option>
                                                                            <option value="AS">American Samoa</option>
                                                                            <option value="AD">Andorra</option>
                                                                            <option value="AO">Angola</option>
                                                                            <option value="AI">Anguilla</option>
                                                                            <option value="AQ">Antarctica</option>
                                                                            <option value="AG">Antigua and Barbuda</option>
                                                                            <option value="AR">Argentina</option>
                                                                            <option value="AM">Armenia</option>
                                                                            <option value="AW">Aruba</option>
                                                                            <option value="BN">Brunei</option>
                                                                        </select>
                                                                        <noscript>
                                                                            <button type="submit" name="woocommerce_checkout_update_totals" value="Update country">Update country</button>
                                                                        </noscript>
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-wide address-field validate-required" id="billing_address_1_field" data-priority="50">
                                                                    <label for="billing_address_1" class="">Street address&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <input type="text" class="input-text " name="billing_address_1" id="billing_address_1" placeholder="House number and street name" value="" autocomplete="address-line1" data-placeholder="House number and street name">
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-wide address-field validate-postcode" id="billing_postcode_field" data-priority="65" data-o_class="form-row form-row-wide address-field validate-postcode">
                                                                    <label for="billing_postcode" class="">
                                                                        Postcode / ZIP&nbsp;<span class="optional">(optional)</span>
                                                                    </label>
                                                                    <span class="woocommerce-input-wrapper">
                                                                        <input type="text" class="input-text " name="billing_postcode" id="billing_postcode" placeholder="" value="" autocomplete="postal-code">
                                                                    </span>
                                                                </p>
                                                                <p class="form-row form-row-wide address-field validate-required" id="billing_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                                                                    <label for="billing_city" class="">Town / City&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper"><input type="text" class="input-text " name="billing_city" id="billing_city" placeholder="" value="" autocomplete="address-level2"></span>
                                                                </p>
                                                                <p class="form-row form-row-wide validate-required validate-phone" id="billing_phone_field" data-priority="100"><label for="billing_phone" class="">Phone&nbsp;<abbr class="required" title="required">*</abbr></label><span class="woocommerce-input-wrapper"><input type="tel" class="input-text " name="billing_phone" id="billing_phone" placeholder="" value="" autocomplete="tel"></span></p>
                                                                <p class="form-row form-row-wide validate-required validate-email" id="billing_email_field" data-priority="110">
                                                                    <label for="billing_email" class="">Email address&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                    <span class="woocommerce-input-wrapper"><input type="email" class="input-text " name="billing_email" id="billing_email" placeholder="" value="" autocomplete="email username"></span>
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Shipping Information-->
                                                    <div class="tab">
                                                        <div class="wrap-shipping bj-checkout-form">
                                                            <div class="wrap-shiping-form">
                                                                <h3>Shipping Information</h3>
                                                                <div class="woocommerce-shipping-fields">
                                                                    <div class="shipping_address">
                                                                        <div class="woocommerce-shipping-fields__field-wrapper">
                                                                            <p class="form-row form-row-first validate-required" id="shipping_first_name_field" data-priority="10">
                                                                                <label for="shipping_first_name" class="">First name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_first_name" id="shipping_first_name" placeholder="" value="" autocomplete="given-name">
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-last validate-required" id="shipping_last_name_field" data-priority="20">
                                                                                <label for="shipping_last_name" class="">Last name&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_last_name" id="shipping_last_name" placeholder="" value="" autocomplete="family-name">
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-wide" id="shipping_company_field" data-priority="30">
                                                                                <label for="shipping_company" class="">Company name&nbsp;<span class="optional">(optional)</span></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_company" id="shipping_company" placeholder="" value="" autocomplete="organization">
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-wide address-field update_totals_on_change validate-required" id="shipping_country_field" data-priority="40">
                                                                                <label for="shipping_country" class="">Country&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <select name="shipping_country" id="shipping_country" class="country_to_state country_select " autocomplete="country">
                                                                                        <option value="">Select a country…</option>
                                                                                        <option value="AX">Åland Islands</option>
                                                                                        <option value="AF">Afghanistan</option>
                                                                                        <option value="AL">Albania</option>
                                                                                        <option value="DZ">Algeria</option>
                                                                                        <option value="AS">American Samoa</option>
                                                                                        <option value="KH">Cambodia</option>
                                                                                        <option value="CF">Central African Republic</option>
                                                                                        <option value="VN" selected="selected">Vietnam</option>
                                                                                    </select>
                                                                                    <noscript>
                                                                                        <button type="submit" name="woocommerce_checkout_update_totals" value="Update country">Update country</button>
                                                                                    </noscript>
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-wide address-field validate-required" id="shipping_address_1_field" data-priority="50">
                                                                                <label for="shipping_address_1" class="">Street address&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_address_1" id="shipping_address_1" placeholder="House number and street name" value="" autocomplete="address-line1" data-placeholder="House number and street name">
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-wide address-field validate-postcode" id="shipping_postcode_field" data-priority="65" data-o_class="form-row form-row-wide address-field validate-postcode">
                                                                                <label for="shipping_postcode" class="">Postcode / ZIP&nbsp;<span class="optional">(optional)</span></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_postcode" id="shipping_postcode" placeholder="" value="" autocomplete="postal-code">
                                                                                </span>
                                                                            </p>
                                                                            <p class="form-row form-row-wide address-field validate-required" id="shipping_city_field" data-priority="70" data-o_class="form-row form-row-wide address-field validate-required">
                                                                                <label for="shipping_city" class="">Town / City&nbsp;<abbr class="required" title="required">*</abbr></label>
                                                                                <span class="woocommerce-input-wrapper">
                                                                                    <input type="text" class="input-text " name="shipping_city" id="shipping_city" placeholder="" value="" autocomplete="address-level2">
                                                                                </span>
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="woocommerce-additional-fields">
                                                                    <div class="woocommerce-additional-fields__field-wrapper">
                                                                        <p class="form-row notes" id="order_comments_field" data-priority="">
                                                                            <label for="order_comments" class="">Order notes&nbsp;<span class="optional">(optional)</span></label>
                                                                            <span class="woocommerce-input-wrapper">
                                                                                <textarea name="order_comments" class="input-text " id="order_comments" placeholder="Notes about your order, e.g. special notes for delivery." rows="2" cols="5"></textarea>
                                                                            </span>
                                                                        </p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--Payment-->
                                                    <div class="tab">
                                                        <div id="order_review" class="woocommerce-checkout-review-order bj-checkout-form">
                                                            <div id="payment" class="woocommerce-checkout-payment">
                                                                <div class="wrap-content">
                                                                    <h3>Payment Details</h3>
                                                                    <ul class="wc_payment_methods payment_methods methods">
                                                                        <li class="wc_payment_method payment_method_bacs">
                                                                            <input id="payment_method_bacs" type="radio" class="input-radio" name="payment_method" value="" />
                                                                            <label for="payment_method_bacs">
                                                                                Direct bank transfer
                                                                            </label>
                                                                            <div class="payment_box payment_method_bacs">
                                                                                <p>Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.</p>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wc_payment_method payment_method_cod">
                                                                            <input id="payment_method_cod" type="radio" class="input-radio" name="payment_method" value="cod">
                                                                            <label for="payment_method_cod">
                                                                                Cash on delivery
                                                                            </label>
                                                                            <div class="payment_box payment_method_cod" style="display:none;">
                                                                                <p>Pay with cash upon delivery.</p>
                                                                            </div>
                                                                        </li>
                                                                        <li class="wc_payment_method payment_method_paypal">
                                                                            <input id="payment_method_paypal" type="radio" checked="checked" class="input-radio" name="payment_method" value="paypal" data-order_button_text="Proceed to PayPal">
                                                                            <label for="payment_method_paypal">
                                                                                PayPal <img src="https://www.paypalobjects.com/webstatic/mktg/Logo/AM_mc_vs_ms_ae_UK.png" alt="PayPal acceptance mark"><a href="https://www.paypal.com/gb/webapps/mpp/paypal-popup" class="about_paypal" onclick="javascript:window.open('https://www.paypal.com/gb/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">What is PayPal?</a>
                                                                            </label>
                                                                            <div class="payment_box payment_method_paypal">
                                                                                <p>Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account. SANDBOX ENABLED. You can use sandbox testing accounts only. See the <a href="https://developer.paypal.com/docs/classic/lifecycle/ug_sandbox/">PayPal Sandbox Testing Guide</a> for more details.</p>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                                <div class="place-order">
                                                                    <noscript>
                                                                        Since your browser does not support JavaScript, or it is disabled, please ensure you click the &lt;em&gt;Update Totals&lt;/em&gt; button before placing your order. You may be charged more than the amount stated above if you fail to do so.			<br />
                                                                        <input type="submit" class="button alt" name="woocommerce_checkout_update_totals" value="Update totals" />
                                                                    </noscript>
                                                                    <div class="woocommerce-terms-and-conditions-wrapper">
                                                                        <div class="woocommerce-privacy-policy-text"></div>
                                                                    </div>
                                                                    <div id="paypal-button-container"></div>
                                                                    <input type="submit" class="button alt" name="woocommerce_checkout_place_order" id="place_order" value="Place order" data-value="Place order">
                                                                    <input type="hidden" id="_wpnonce" name="_wpnonce" value="0e9226a09d"><input type="hidden" name="_wp_http_referer" value="/themeforest/bookjunky/?wc-ajax=update_order_review">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="owl-nav">
                                                        <button type="button" id="prevBtn" onclick="nextPrev(-1)" class="owl-prev">Previous</button>
                                                        <button type="button" id="nextBtn" onclick="nextPrev(1)" class="owl-next" style="margin-right:100px">Next</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-md-5 col-lg-4">
                            <div class="checkout-detail">
                                
                                <div class="wrap-review-order" style="margin-top:30px">
                                    <div class="woocommerce-checkout-review-order">
                                        <h3>Order Summary</h3>
                                        <div class="review-order" id="resultCart">

                                        </div>
                                        <div class="subtotal">
                                            <div class="cart-subtotal clearfix">
                                                <h5>Subtotal</h5>
                                                <span><span class="woocommerce-Price-amount amount resultTotal"></span></span>
                                            </div>
                                            <div class="shiping">
                                                Shipping
                                                Free shipping <input type="hidden" name="shipping_method[0]" data-index="0" id="shipping_method_0" value="free_shipping:1" class="shipping_method">
                                            </div>
                                            <div class="order-total clearfix">
                                                <h5>Total</h5>
                                                <span><strong><span class="woocommerce-Price-amount amount resultTotal"></span></strong> </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>

        var currentTab = 0; // Current tab is set to be the first tab (0)
        showTab(currentTab); // Display the current tab

        function showTab(n) {
            // This function will display the specified tab of the form...
            var x = document.getElementsByClassName("tab");
            x[n].style.display = "block";
            //... and fix the Previous/Next buttons:
            if (n == 0) {
                document.getElementById("prevBtn").style.display = "none";
            } else {
                document.getElementById("prevBtn").style.display = "inline";
            }
            if (n == (x.length - 1)) {
                document.getElementById("nextBtn").innerHTML = "Submit";
            } else {
                document.getElementById("nextBtn").innerHTML = "Next";
            }
            //... and run a function that will display the correct step indicator:
            fixStepIndicator(n)
        }

        function nextPrev(n) {
            // This function will figure out which tab to display
            var x = document.getElementsByClassName("tab");
            // Exit the function if any field in the current tab is invalid:
            if (n == 1 && !validateForm()) return false;
            // Hide the current tab:
            x[currentTab].style.display = "none";
            // Increase or decrease the current tab by 1:
            currentTab = currentTab + n;
            // if you have reached the end of the form...
            if (currentTab >= x.length) {
                // ... the form gets submitted:
                document.getElementById("regForm").submit();
                return false;
            }
            // Otherwise, display the correct tab:
            showTab(currentTab);
        }

        function validateForm() {
            // This function deals with validation of the form fields
            var x, y, i, valid = true;
            x = document.getElementsByClassName("tab");
            y = x[currentTab].getElementsByTagName("input");
            // A loop that checks every input field in the current tab:
            for (i = 0; i < y.length; i++) {
                // If a field is empty...
                if (y[i].value == "") {
                    // add an "invalid" class to the field:
                    y[i].className += " invalid";
                    // and set the current valid status to false
                    valid = false;
                }
            }
            // If the valid status is true, mark the step as finished and valid:
            if (valid) {
                document.getElementsByClassName("step")[currentTab].className += " finish";
            }
            return valid; // return the valid status
        }

        function fixStepIndicator(n) {
            // This function removes the "active" class of all steps...
            var i, x = document.getElementsByClassName("step");
            for (i = 0; i < x.length; i++) {
                x[i].className = x[i].className.replace(" bj-step-active", "zmdi-check");
            }
            //... and adds the "active" class on the current step:
            x[n].className += "bj-step-active";
        }

        function generateBlockSumary(thumbnail, name, price, quantity) {
            var output = "";
            output += '<div class="order-item clearfix">';
            output += '<div class="thumbnail-product" style="box-shadow: 0 5px 15px -5px #308ec7">';
            output += '<img src="' + thumbnail + '" alt="' + name + '">';
            output += '</div>';
            output += '<div class="cart-info">';
            output += '<h5>' + name + '</h5>';
            output += '<p>by Lisa &amp; Michael Cohn</p>';
            output += '<span>Qty: ' + quantity + '</span>';
            output += '</div>';
            output += '<div class="product-total">';
            output += '<span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>' + price + '</span>';
            output += '</div>';
            output += '</div>';
            return output;
        }

        var totalPr = 0;


        $(document).ready(() => {

            var listCart = localStorage.getItem('listCart');

            listCart = JSON.parse(listCart);
            if (listCart != undefined && listCart != null) {

                for (var i = 0; i < listCart.books.length; i++) {
                    var thumb = listCart.books[i].Thumbnail;
                    var name = listCart.books[i].Name;
                    var price = listCart.books[i].Price;
                    var quantity = listCart.books[i].Quantity;
                    var total = listCart.books[i].Total;
                    totalPr = totalPr + total;
                    $('#resultCart').prepend(generateBlockSumary(thumb, name, price, quantity));
                }
                $('.resultTotal').html('<span class="woocommerce-Price-currencySymbol">$</span>' + totalPr);
            }
            else {

            }

            $(".quantity input").keyup(function () {
                var id = $(this).attr('data-id');
                var quantity = $(this).val();
                for (var i = 0; i < listCart.books.length; i++) {
                    if (listCart.books[i].Id == id) {
                        listCart.books[i].Quantity = quantity;
                        listCart.books[i].Total = listCart.books[i].Price * quantity;
                        existsItem = true;
                        break;
                    }
                }
                localStorage.setItem('listCart', JSON.stringify(listCart));
            });

            $("#updateCart").click(() => {
                location.reload();
            });

            paypal.Buttons({
                createOrder: function (data, actions) {
                    return actions.order.create({
                        purchase_units: [{
                            amount: {
                                currency_code: "USD",
                                value: totalPr
                            },
                            description: "Payment order #123",
                            custom_id: "213"
                        }]
                    });
                },
                onApprove: function (data, actions) {
                    console.log("Approve", data);
                    $.ajax({
                        url: '/api/order/paypal?orderId=' + data.orderID,
                        type: 'POST',
                        success: function (data, textStatus, jQxhr) {
                            alert("Confirm success!");
                        },
                        error: function (jqXhr, textStatus, errorThrown) {
                            console.log(errorThrown);
                        }
                    });

                },
                onAuthorize: function (data, actions) {
                    console.log("Authorize", data);
                },

                onCancel: function (data, actions) {
                    console.log("Cancel", data);
                },

                onError: function (err) {
                    console.log("Error", data);
                }
            }).render('#paypal-button-container');
        });
    </script>

}