﻿@{
    ViewData["Title"] = "Contact Us";
}

<environment include="Development">
    <link href="~/css/ContactLayout.css" rel="stylesheet" />
</environment>
<div id="page-title-1" class="page-title text-center">
    <h1>Contact Us</h1>
</div>
<!-- #page-title -->
<div id="content" class="site-content">
    <div id="primary" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <main id="main" class="site-main">

                    <article id="post-84" class="post-84 page type-page status-publish hentry">
                        <div class="entry-content">

                            <div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1502261819304 vc_row-has-fill">
                                <div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1502251206149">
                                        <div class="wpb_wrapper">
                                            <div class="fancy-box-1" id="cms-fancy-box-single">
                                                <h5>Huge Range of Books</h5>
                                                <p>We stock a massive amount of books</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1502251209858">
                                        <div class="wpb_wrapper">
                                            <div class="fancy-box-1" id="cms-fancy-box-single-2">
                                                <h5>Open Hours</h5>
                                                <p>Open Monday - Saturday: 9:00am - 5:00pm</p>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-4">
                                    <div class="vc_column-inner vc_custom_1502251213318">
                                        <div class="wpb_wrapper">
                                            <div class="fancy-box-1" id="cms-fancy-box-single-3">
                                                <h5>FREE UK Deliveres</h5>
                                                <p>All orders in the UK come with free shipping</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row-full-width"></div><div data-vc-full-width="true" data-vc-full-width-init="false" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid width-fill vc_custom_1502265723613 vc_row-has-fill">
                                <div class="column-left wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner vc_custom_1502266273143">
                                        <div class="wpb_wrapper">
                                            <div class="fancy-box-2 clearfix" id="cms-fancy-box-single-4">
                                                <div class="wrap-left">
                                                    <i style="background-color:" class="zmdi-balance"></i>
                                                </div>
                                                <div class="wrap-right">
                                                    <h5>Address</h5>

                                                    <p class="text_field">BookShradha</p>

                                                    <p class="text_field">8 Ton That Thuyet,</p>

                                                    <p class="text_field">Nam Tu Liem,</p>

                                                    <p class="text_field">Ha Noi, Viet Nam</p>

                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner"></span></div>
                                            <div class="fancy-box-2 clearfix" id="cms-fancy-box-single-5">
                                                <div class="wrap-left">
                                                    <i style="background-color:" class="zmdi-local-phone"></i>
                                                </div>
                                                <div class="wrap-right">
                                                    <h5>Phone &amp; Fax</h5>

                                                    <div class="phone">Call: <a href="#">070 2931 1524</a></div>

                                                    <div class="phone">Fax: <a href="#">070 2931 1525</a></div>

                                                </div>
                                            </div>
                                            <div class="vc_empty_space" style="height: 13px"><span class="vc_empty_space_inner"></span></div>
                                            <div class="fancy-box-2 clearfix" id="cms-fancy-box-single-6">
                                                <div class="wrap-left">
                                                    <i style="background-color:" class="zmdi-email-open"></i>
                                                </div>
                                                <div class="wrap-right">
                                                    <h5>Email</h5>

                                                    <div class="email">Info: <a href="#">info@bookshradha.co.uk</a></div>

                                                    <div class="email">Sales & Returns: <a href="#">sales@bookshradha.co.uk</a></div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="wpb_column vc_column_container vc_col-sm-6">
                                    <div class="vc_column-inner vc_custom_1502266352055">
                                        <div class="wpb_wrapper">

                                            <div class="mymaps-area-1" style="">
                                                <div class="map-wrapper-1" style="width:100%;height:512px;">

                                                    <div id="map-canvas-1" style="width:100%;height:100%;top:0;left:0;">
                                                        <iframe width="100%" height="100%" frameborder="0" style="border:0"
                                                                src="https://www.google.com/maps/embed/v1/place?q=place_id:EkU4IFTDtG4gVGjhuqV0IFRodXnhur90LCBN4bu5IMSQw6xuaCwgQ-G6p3UgR2nhuqV5LCBIw6AgTuG7mWksIFZpZXRuYW0iGhIYChQKEgnz9CbWTKs1MRFURt1Z3YERzhAI&key=AIzaSyCrg1g6oPFQ6Mdu-QHez4qDScUv6MImYIo" allowfullscreen></iframe>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row-full-width"></div><div data-vc-full-width="true" data-vc-full-width-init="false" class="vc_row wpb_row vc_row-fluid vc_custom_1502267517734 vc_row-has-fill">
                                <div class="wpb_column vc_column_container vc_col-sm-12">
                                    <div class="vc_column-inner vc_custom_1502269052587">
                                        <div class="wpb_wrapper">
                                            <div role="form" class="wpcf7" id="wpcf7-f97-p84-o1" lang="en-US" dir="ltr">
                                                <div class="screen-reader-response"></div>
                                                <form action="/themeforest/bookjunky/?page_id=84#wpcf7-f97-p84-o1" method="post" class="wpcf7-form" novalidate="novalidate">
                                                    <div style="display: none;">
                                                        <input type="hidden" name="_wpcf7" value="97" />
                                                        <input type="hidden" name="_wpcf7_version" value="5.1.1" />
                                                        <input type="hidden" name="_wpcf7_locale" value="en_US" />
                                                        <input type="hidden" name="_wpcf7_unit_tag" value="wpcf7-f97-p84-o1" />
                                                        <input type="hidden" name="_wpcf7_container_post" value="84" />
                                                        <input type="hidden" name="g-recaptcha-response" value="" />
                                                    </div>
                                                    <div class="contact-form">
                                                        <h5>Leave a Message</h5>
                                                        <p>    <span>and we’ll get back to you as soon as possible!</span></p>
                                                        <div class="row">
                                                            <div class="col-xs-12 col-md-4">
                                                                <span class="wpcf7-form-control-wrap your-name"><input type="text" name="your-name" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required name" id="name" aria-required="true" aria-invalid="false" placeholder="Name" /></span>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <span class="wpcf7-form-control-wrap your-email"><input type="email" name="your-email" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-email your-email" id="your-email" aria-invalid="false" placeholder="Email address" /></span>
                                                            </div>
                                                            <div class="col-xs-12 col-md-4">
                                                                <span class="wpcf7-form-control-wrap subject"><input type="text" name="subject" value="" size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required subject" id="subject" aria-required="true" aria-invalid="false" placeholder="Subject" /></span>
                                                            </div>
                                                            <div class="col-xs-12">
                                                                <span class="wpcf7-form-control-wrap message"><textarea name="message" cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea message" id="message" aria-invalid="false" placeholder="Your message"></textarea></span>
                                                            </div>
                                                        </div>
                                                        <div><input type="submit" value="Send Message" class="wpcf7-form-control wpcf7-submit sub" id="sub" /></div>
                                                    </div>
                                                    <div class="wpcf7-response-output wpcf7-display-none"></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><div class="vc_row-full-width"></div>

                        </div><!-- .entry-content -->
                        <footer class="edit-page"></footer><!-- .entry-meta -->
                    </article><!-- #post -->

                </main><!-- .site-main -->
            </div>
        </div>
    </div><!-- .content-area -->

</div><!-- .site-content -->
