﻿@model ProjectSEM3.Models.Book;


<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/client/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/client/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/client/css/woocommerce.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />

<div id="content" class="site-content">

    <div class="page-title-product_2" style="background-color: @Model.Cover;color:white;">

        <div class="container">

            <div class="row">

                <div class="col-xs-12">

                    <div class="wrap-thumbnail"
                         style="box-shadow: 0 5px 15px -5px #081720">
                        <img width="330" height="500" src="@Model.Thumbnail" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px" />
                    </div>

                    <div class="wrap-content">

                        <div class="author" style="color:white !important;">
                            <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/man_author_6.jpg"
                                 alt="">
                            @Model.Author.FullName
                        </div>

                        <h4 style="color:white !important;">@Model.Name</h4>

                        <div>
                            <div class="woocommerce">
                                <div class="woocommerce-product-rating">
                                    <span class="star-rating  bj-color-#8e79df">
                                        <span style="width:0%"></span>
                                    </span><span class="bj-rating-counts" style="color:#8e79df;">0 Ratings</span>
                                </div>
                            </div>
                        </div>

                        <p style="color:white !important;">@Model.Snippet</p>

                        <div class="wrap-button">


                            <form class="cart" method="post" enctype='multipart/form-data'>

                                <button type="button" name="add-to-cart" onclick="addToCart('@Model.Id')" class="single_add_to_cart_button alt">Buy <span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@Model.Price</span></button>

                            </form>


                            <button class="flex-favorites" data-id="338"><span class="ff-icon zmdi zmdi-favorite-outline"></span><p class="ff-label" data-counts="aj-count">Add to BookShelf</p></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="wrap-single-product post-338 product type-product status-publish has-post-thumbnail product_cat-fiction product_cat-romance product_tag-the-girl-of-ink-and-stars first instock taxable shipping-taxable purchasable product-type-simple">
        <div class="container">
            <div class="row">

                <div class="wrap-single-content col-xs-12 col-sm-8 col-lg-10">
                    <div class="info-single-product">
                        <ul>
                            <li>
                                <div class="info-single-title">Genre:</div>
                                <span>
                                    <a href="javascript:void(0)" rel="tag">Fiction</a>, <a href="javascript:void(0)" rel="tag">Romance</a>
                                </span>
                            </li>
                            <li>
                                <div class="info-single-title">Originally Published:</div>
                                <span>
                                    @Model.Published
                                </span>
                            </li>
                            <li>
                                <div class="info-single-title">Hardcover:</div>
                                <span>
                                    @Model.Hardcover
                                </span>
                            </li>
                            <li>
                                <div class="info-single-title">Language:</div>
                                <span>
                                    @Model.Language
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="woocommerce-notices-wrapper statusCart" style="display:none;">
                        <div class="woocommerce-message" role="alert">
                            <a asp-controller="Home" asp-action="Cart" tabindex="1" class="button wc-forward">View cart</a>
                            <p style="content: '\e015'; color:#8fae1b; margin-right: 10px" class="fa fa-check-circle"></p> “@Model.Name” has been added to your cart.
                        </div>
                    </div>
                    <div class="wrap-overview">
                        <h3>Overview</h3>
                        <div class="content">
                            @Model.Overview
                        </div>
                    </div>
                    <div class="wrap-details clearfix">
                        <div class="detail">
                            <h6>BOOK DETAILS</h6>
                            <ul>
                                <li>
                                    <span class="info-single-title">Hardcover:</span>
                                    <span>
                                        @Model.Hardcover
                                    </span>
                                </li>
                                <li>
                                    <span class="info-single-title">Publisher:</span>
                                    <span>
                                        @Model.Published
                                    </span>
                                </li>
                                <li>
                                    <span class="info-single-title">Language:</span>
                                    <span>
                                        @Model.Language
                                    </span>
                                </li>
                                <li>
                                    <span class="info-single-title">ISBN-10:</span>
                                    <span>
                                        NA
                                    </span>
                                </li>
                                <li>
                                    <span class="info-single-title">Dimensions:</span>
                                    <span>
                                        @Model.Dimensions
                                    </span>
                                </li>
                            </ul>
                        </div>
                        <div class="gallery-review">
                            <h6>PREVIEW</h6>

                            <div class="owl-carousel owl-theme" id="gallery-product" style="">
                                <a data-lightbox="light-box" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-6.jpg">
                                    <img width="230" height="300" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-6-230x300.jpg" class="attachment-book_junky_230X300 size-book_junky_230X300" alt="" title="post-6" data-caption="" data-src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-6.jpg" data-large_image="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-6.jpg" data-large_image_width="1000" data-large_image_height="800" />
                                </a>
                                <a data-lightbox="light-box" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-7.jpg">
                                    <img width="230" height="300" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-7-230x300.jpg" class="attachment-book_junky_230X300 size-book_junky_230X300" alt="" title="post-7" data-caption="" data-src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-7.jpg" data-large_image="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-7.jpg" data-large_image_width="1000" data-large_image_height="800" />
                                </a>
                                <a data-lightbox="light-box" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-10.jpg">
                                    <img width="230" height="300" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-10-230x300.jpg" class="attachment-book_junky_230X300 size-book_junky_230X300" alt="" title="post-10" data-caption="" data-src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-10.jpg" data-large_image="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/post-10.jpg" data-large_image_width="1000" data-large_image_height="800" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="review">
                        <h5>Customer Reviews</h5>
                        <div id="reviews" class="woocommerce-Reviews">
                            <button class="bj-write-cmt-btn">Write a review</button>
                            <div id="comments">
                                <div class="wrap-rating">
                                    <p>Average customer rating</p>
                                    <div class="woocommerce"><div class="woocommerce-product-rating"><span class="star-rating" style="color:;"><span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5 based on <span class="rating">2</span> customer ratings</span></span><span class="bj-rating-counts" style="color:;">2 Ratings</span></div></div>
                                </div>


                                <div id="review_form_wrapper" class="bj-comment-form">
                                    <div id="review_form">
                                        <div id="respond" class="comment-respond">
                                            <span id="reply-title" class="comment-reply-title">Add a review <small><a rel="nofollow" id="cancel-comment-reply-link" href="/themeforest/bookjunky/?product=the-happy-lemon#respond" style="display:none;">Cancel reply</a></small></span>			<form action="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-comments-post.php" method="post" id="commentform" class="comment-form">
                                                <p class="comment-notes"><span id="email-notes">Your email address will not be published.</span> Required fields are marked <span class="required">*</span></p><p class="comment-form-author"><label for="author">Name <span class="required">*</span></label> <input id="author" name="author" type="text" value="" size="30" aria-required="true" required /></p>
                                                <p class="comment-form-email"><label for="email">Email <span class="required">*</span></label> <input id="email" name="email" type="email" value="" size="30" aria-required="true" required /></p>
                                                <div class="comment-form-rating">
                                                    <label for="rating">Your rating</label><select name="rating" id="rating" aria-required="true" required>
                                                        <option value="">Rate&hellip;</option>
                                                        <option value="5">Perfect</option>
                                                        <option value="4">Good</option>
                                                        <option value="3">Average</option>
                                                        <option value="2">Not that bad</option>
                                                        <option value="1">Very poor</option>
                                                    </select>
                                                </div><p class="comment-form-comment"><label for="comment">Your review <span class="required">*</span></label><textarea id="comment" name="comment" cols="45" rows="8" aria-required="true" required></textarea></p><p class="form-submit">
                                                    <input name="submit" type="submit" id="submit" class="submit" value="Submit" /> <input type='hidden' name='comment_post_ID' value='7' id='comment_post_ID' />
                                                    <input type='hidden' name='comment_parent' id='comment_parent' value='0' />
                                                </p>
                                            </form>
                                        </div><!-- #respond -->
                                    </div>
                                </div>

                                <ol class="commentlist">
                                    <li class="comment byuser comment-author-admin bypostauthor even thread-even depth-1" id="li-comment-10">

                                        <div id="comment-10" class="comment_container">

                                            <div class="comment-body">

                                                <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4</strong> out of 5</span></div>
                                                <p class="meta">
                                                    <strong class="woocommerce-review__author">admin </strong>
                                                    <span class="woocommerce-review__dash">&ndash;</span> <time class="woocommerce-review__published-date" datetime="2017-09-04T03:25:09+00:00">September 4, 2017</time>
                                                </p>

                                                <div class="description">
                                                    <p>Cmt test</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li><!-- #comment-## -->
                                    <li class="comment odd alt thread-odd thread-alt depth-1" id="li-comment-73">

                                        <div id="comment-73" class="comment_container">

                                            <div class="comment-body">

                                                <div class="star-rating"><span style="width:80%">Rated <strong class="rating">4</strong> out of 5</span></div>
                                                <p class="meta">
                                                    <strong class="woocommerce-review__author">Yome </strong>
                                                    <span class="woocommerce-review__dash">&ndash;</span> <time class="woocommerce-review__published-date" datetime="2017-09-25T08:35:05+00:00">September 25, 2017</time>
                                                </p>

                                                <div class="description">
                                                    <p>i love them</p>
                                                </div>
                                            </div>
                                        </div>
                                    </li><!-- #comment-## -->
                                </ol>

                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-2">
                    <div class="wrap-single-sidebar">
                        <div class="wrap-book-author">
                            <h4 class="sg-sidebar-title">BOOKS BY Kiran M. Hargrave</h4>

                            <div class="item-product clearfix">


                                <div class="wrap-thumbnail"
                                     style="box-shadow: 0 5px 15px -5px #081720">

                                    <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars">
                                        <img width="330" height="500" src="~/client/images/the_girl_of_ink_and_stars.jpg" class="attachment-single-product size-single-product wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px" />
                                    </a>
                                </div>

                                <div class="wrap-content">

                                    <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars">The Girl of Ink and Stars</a>

                                    <div class="wrap-price">
                                        <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>11.49</span></span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <h4 class="sg-sidebar-title">SHARE THIS BOOK</h4>

                        <div class="wrap-share">
                            <ul class="list-unstyled clearfix">
                                <li>
                                    <a class="facebook" title="Share this article to Facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars&t=The Girl of Ink and Stars">
                                        <i class="zmdi zmdi-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a class="twitter" title="Share this article to Twitter" target="_blank" href="https://twitter.com/home?status=Check out this article:%20The Girl of Ink and Stars%20-%20http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars">
                                        <i class="zmdi zmdi-twitter"></i>
                                    </a>
                                </li>

                                <li>
                                    <a class="email" title="Share this article to GooglePlus" target="_blank" href="mailto:?body=http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-girl-of-ink-and-stars">
                                        <i class="zmdi zmdi-email"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>



</div><!-- .site-content -->
@section Scripts {

    <script type='text/javascript' src='~/client/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/client/js/owl.carousel.js'></script>
    <script type="text/javascript">
        //$('.owl-carousel').hide();
        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                },
                1000: {
                    items: 4
                }
            }
        })
        $('button.bj-write-cmt-btn').click(function () {
            $(this).hide();
            $('#review_form_wrapper').css({
                'visibility': 'unset', 'max-height': 'unset', 'opacity': '1'
            });
        })

        function addToCart() {
            var listCart = localStorage.getItem('listCart');

            if (listCart == null) {
                listCart = {
                    'books': [
                        {
                            'Id': @Model.Id,
                            'Thumbnail': "@Model.Thumbnail",
                            'Name': "@Model.Name",
                            'Price': @Model.Price,
                            'Quantity': 1,
                            'Total': @Model.Price
                        }
                    ]
                }
                localStorage.setItem("cart", 1);
            } else {
                listCart = JSON.parse(listCart);
                if (listCart != undefined && listCart != null) {
                    var existsItem = false;
                    var totalCart = listCart.books.length;
                    var cart = localStorage.getItem("cart");
                    localStorage.setItem("cart", totalCart);
                    for (var i = 0; i < listCart.books.length; i++) {
                        if (listCart.books[i].Id == @Model.Id) {
                            listCart.books[i].Quantity = parseInt(listCart.books[i].Quantity) + 1;
                            listCart.books[i].Total = listCart.books[i].Price * listCart.books[i].Quantity;
                            existsItem = true;
                            break;
                        }
                    }
                    if (!existsItem) {
                        listCart.books.push({
                            'Id': @Model.Id,
                            'Thumbnail': "@Model.Thumbnail",
                            'Name': "@Model.Name",
                            'Price': @Model.Price,
                            'Quantity': 1,
                            'Total': @Model.Price
                        });
                        localStorage.setItem("cart", totalCart + 1);
                    }
                }
            }
            $('.statusCart').attr('style', 'display:block;');
            localStorage.setItem('listCart', JSON.stringify(listCart));
        }
    </script>
}
