﻿
@{
    ViewData["Title"] = "Frequently Answered Questions";
}
<environment include="Development">
    <link rel="stylesheet" href="~/css/FAQLayout.css" />
</environment>
<main>
    <div class="container-fluid">
        <div class="row">
            <div class="page-subheader__inner">
                <div class="page-subheader__container">
                    <h1 class="page-subheader__title"> How can we help you?</h1>
                    <div class="search search--subheader" id="search-subheader" style="    top: 89%;">
                        <input type="text" class="query search__input is-empty" autocomplete="off" placeholder="Enter keyword to search!">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pdm-No">
                <div class="page-main__inner">
                    <div class="page-content page-content--single-wide">
                        <h1 class="page-title page-title--responsive"> Frequently Asked Questions </h1>
                        <div class="three three--default">
                            <div class="block block--linklist three__item">
                                <div class="block__body">
                                    <a onmouseover="myFunction()" class="dropbtn">1. Will there be any charges for the delivery apart from the products ordered?</a>
                                    <div id="myDropdown" class="dropdown-content answer">
                                        <span>
                                            There will be additional train fees.
                                        </span>
                                    </div>
                                </div>
                                <div class="block__body">
                                    <a onmouseover="myFunction2()" class="dropbtn">2. How many days will it take to deliver the order?</a>
                                    <div id="myDropdown2" class="dropdown-content answer">
                                        <span>
                                            Depends on the Order, Quantity and Stock and as well on the payment type chosen, as if the
                                            payment option chosen is payment before delivery, then the order will only be
                                            dispatched after the receipt of the payment.
                                        </span>
                                    </div>
                                </div>
                                <div class="block__body">
                                    <a onmouseover="myFunction3()" class="dropbtn">3. What if the order delivered is not in proper condition?</a>
                                    <div id="myDropdown3" class="dropdown-content answer">
                                        <span>
                                            If the order
                                            delivered is improper, it will be replace with the other
                                        </span>
                                    </div>
                                </div>
                                <div class="block__body">
                                    <a onmouseover="myFunction4()" class="dropbtn">4. Can an Order be cancelled? If yes, will there be any charges?</a>
                                    <div id="myDropdown4" class="dropdown-content answer">
                                        <span>
                                            Can an Order be cancelled? If yes, will there be any charges? (Ans : Yes, but
                                            if cancelled with in 24 Hrs. there will be no charges, but if cancelled after 24
                                            Hrs. and if the Order is being dispatched the Delivery charges for the to and
                                            fro is to be bared by the one who has ordered
                                        </span>
                                    </div>
                                </div>
                                <div class="block__body">
                                    <a onmouseover="myFunction5()" class="dropbtn">5. How can the payment be made?</a>
                                    <div id="myDropdown5" class="dropdown-content answer">
                                        <span>
                                            You can choose to buy a book. Add it to the cart and then pay! Finish.
                                        </span>
                                    </div>
                                </div>
                            </div>
                </div>
            </div>
        </div>
            </div>
    </div>
</main>
@section Scripts {
    <script type="text/javascript">
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
        }
        function myFunction2() {
            document.getElementById("myDropdown2").classList.toggle("show");
        }
        function myFunction3() {
            document.getElementById("myDropdown3").classList.toggle("show");
        }
        function myFunction4() {
            document.getElementById("myDropdown4").classList.toggle("show");
        }
        function myFunction5() {
            document.getElementById("myDropdown5").classList.toggle("show");
        }
        $(document).ready(() => {
            // Close the dropdown if the user clicks outside of it
            window.onmouseover = function (event) {
                if (!event.target.matches('.dropbtn')) {
                    var dropdowns = document.getElementsByClassName("dropdown-content");
                    var i;
                    for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                            openDropdown.classList.remove('show');
                        }
                    }
                }
            }
        });
    </script>
}


