﻿@model IEnumerable<ProjectSEM3.Models.Book>

@{
    ViewData["Title"] = "Book Shradha";
}

<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/css/cms-style.css" rel="stylesheet" />
<link href="~/client/css/owl.carousel.min.css" rel="stylesheet" />
<link href="~/client/css/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />
<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/client/css/js_composer.min.css" rel="stylesheet" />
<link href="~/client/css/index.css" rel="stylesheet" />


<div data-vc-full-width="true" data-vc-full-width-init="true" data-vc-stretch-content="true" class="vc_row wpb_row vc_row-fluid width-fill vc_custom_1503973713559 vc_row-has-fill">
    <div class="column-fill wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="carousel-product extend-right">
                    <p class="title-carousel">THIS WEEKS FEATURED BOOKS</p>
                    <div class="cms-carousel owl-carousel owl-loaded owl-drag" id="cms-carousel">
                        <div class="owl-stage-outer">
                            <div class="owl-stage" style="transform: translate3d(-1518px, 0px, 0px); transition: all 0s ease 0s; width: 5570px;">
                                @foreach (var item in ViewData["Books"] as IList<Book>)
                                {
                                    <div class="owl-item" style="width: 476.333px; margin-right: 30px;">
                                        <div class="cms-carousel-item clearfix" style="background: @Html.DisplayFor(modelItem => item.Cover););background-size: cover;background-repeat: no-repeat;">

                                            <a class="title-product" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>

                                            <div class="wrap-info">

                                                <p class="product-author" style="">

                                                    by: @Html.DisplayFor(modelItem => item.Author.FullName)
                                                </p>
                                                <div class="woocommerce">
                                                    <div class="woocommerce-product-rating">
                                                        <span class="star-rating bj-color-white" style="color:white;">
                                                            <span style="width:80%">Rated <strong class="rating">4.00</strong> out of 5 based on <span class="rating">5</span> customer ratings</span>
                                                        </span><span class="bj-rating-counts" style="color:white;">5 Ratings</span>
                                                    </div>
                                                </div>
                                                <div class="excerpt-product" style="">
                                                    @Html.DisplayFor(modelItem => item.Snippet)
                                                </div>
                                                <a class="view-shop" style="color: #4f4387" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">View in Book Store <i class="zmdi zmdi-long-arrow-right"></i></a>
                                            </div>

                                            <div class="post-thumbnail" style="box-shadow:0 5px 8px#4f4387"><img width="299" height="455" src="@Html.DisplayFor(modelItem => item.Thumbnail)" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt=""></div>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                        <div class="owl-nav disabled"><div class="owl-prev"><i class="fa fa-arrow-left"></i></div><div class="owl-next"><i class="fa fa-arrow-right"></i></div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row-full-width"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1503889319693 vc_row-has-fill">
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <h2 style="font-size: 15px;color: #888a92;text-align: center;font-family:Voces;font-weight:400;font-style:normal" class="vc_custom_heading vc_custom_1528940101487">SEARCH BY BOOK NAME</h2><div class="wrap-search-book" id="cms-search-book">
                    <form class="searchform" action="/Home/Search" method="get">
                        <div class="wrap-cat">
                            <select name="product_cat" id="product_cat">
                                <option value="All">All</option>
                                @foreach (var item in ViewData["ListCategories"] as IList<Category>)
                                {
                                    <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>
                                }
                            </select>
                        </div>

                        <div class="wrap-year">
                            <select name="" id="term">
                                <option value="">Year</option>
                                <option value="191">1955</option>
                                <option value="15">1991</option>
                                <option value="42">1992</option>
                                <option value="68">1993</option>
                                <option value="65">2000</option>
                                <option value="66">2002</option>
                                <option value="67">2003</option>
                                <option value="64">2007</option>
                                <option value="70">2010</option>
                                <option value="177">2011</option>
                                <option value="71">2013</option>
                                <option value="188">2015</option>
                                <option value="100">2016</option>
                                <option value="167">2017</option>
                            </select>
                        </div>

                        <div class="wrap-search">
                            <input type="text" class="form-search" name="value" value=" " placeholder="Search Book">
                            <input type="hidden" name="min_price" value="0" />
                            <input type="hidden" name="max_price" value="100" />
                            <button type="submit" class="search-submit">Search Books</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row-full-width"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1503889319693 vc_row-has-fill">
    <div class="column-wg-left wpb_column vc_column_container vc_col-sm-12 vc_col-lg-3 vc_col-md-3" style="float:left   ">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="wpb_widgetised_column wpb_content_element">
                    <div class="wpb_wrapper">
                        <aside id="recent_product-2" class="widget-home widget_recent_product">
                            <h3 class="wg-home-title">NEWEST RELEASE</h3>
                            @foreach (var item in ViewData["NewestRelease"] as IList<Book>)
                            {
                                <div class="review-item clearfix">
                                    <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #e9e7e8">
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="Thumbnail">
                                        </a>
                                    </div>
                                    <div class="contents">
                                        <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="title">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                        <a asp-controller="Home" asp-action="Author" asp-route-id="@item.AuthorId" class="author-product">
                                            by @Html.DisplayFor(modelItem => item.Author.FullName)
                                        </a>
                                        <span class="price"><ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@String.Format("{0:0.00}", item.Price)</span></ins></span>
                                    </div>
                                </div>
                            }
                            @*@foreach (var item in Model)
                            {
                                <div class="review-item clearfix">
                                    <div class="thumbnail-review" style="box-shadow: 0 5px 15px -5px #e9e7e8">
                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=shattered">
                                            <img src="@Html.DisplayFor(modelItem => item.Thumbnail)" alt="Thumbnail">
                                        </a>
                                    </div>
                                    <div class="contents">
                                        <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=shattered" class="title">
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </a>
                                        <div class="author-product">
                                            by @Html.DisplayFor(modelItem => item.AuthorId)
                                        </div>
                                        <span class="price"><del><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@Html.DisplayFor(modelItem => item.Price)</span></del> <ins><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>9.99</span></ins></span>
                                    </div>
                                </div>
                            }*@
                        </aside>

                        <aside id="browse_author-3" class="widget-home widget_browse_author">
                            <h3 class="wg-home-title">BROWSE BY AUTHOR</h3>
                            @foreach (var item in ViewData["Author"] as IList<Author>)
                            {
                                <div class="bj-brs-author-item clearfix" style="display:block">
                                    <div class="wrap-thumbnail">
                                        <a asp-controller="Home" asp-action="Author" asp-route-id="@item.Id">
                                            <img src="@Html.DisplayFor(modelItem => item.Avatar)">
                                        </a>
                                    </div>
                                    <div class="wrap-info">
                                        <a asp-controller="Home" asp-action="Author" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.FullName)</a>
                                        <div class="bj-brs-author-count">@Html.DisplayFor(modelItem => item.Id) Book</div>
                                    </div>
                                </div>
                            }
                        </aside>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="column-cont-right wpb_column vc_column_container vc_col-sm-12 vc_col-lg-9 vc_col-md-9">
        <div class="vc_column-inner">
            <div class="wpb_wrapper">
                <div class="vc_row wpb_row vc_inner vc_row-fluid">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="cms-grid-wraper grid-2 extend-space" id="cms-grid">
                                    <div class="cms-grid-filter clearfix">
                                        <h3 class="title">BROWSE BY GENRE</h3>
                                        <ul class="cms-filter-category list-unstyled list-inline">
                                            <li><a class="active" href="#" data-group="all">All</a></li>
                                            <li>
                                                <a href="#">
                                                    Comedy
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Romance
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Thriller
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Media
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Cooking
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                    
                                    <div class="row cms-grid cms-grid-masonry-2 shuffle" style="position: relative">
                                        @foreach (var item in ViewData["Books"] as IList<Book>)
                                        {
                                            <div class="cms-grid-item col-lg-2.4 col-md-2 col-sm-6 col-xs-12 new-col-lg-5 shuffle-item filtered" data-groups="[&quot;all&quot;,&quot;category-comedy&quot;,&quot;category-thriller&quot;]" style="top: 0px; left: 0px; visibility: visible; transition: transform 250ms ease-out 0s, opacity 250ms ease-out 0s;">
                                                <div class="cms-grid-media" style="transition: all 0.25s ease 0s; box-shadow: rgb(233, 231, 232) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #e9e7e8';" onmouseout="this.style.boxShadow ='0 0 15px -2px #e9e7e8';">
                                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                                        <img width="300" height="455" src="@Html.DisplayFor(modelItem => item.Thumbnail)" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="@Html.DisplayFor(modelItem => item.Name)" sizes="(max-width: 300px) 100vw, 300px">
                                                    </a>
                                                </div>
                                                <div class="info-product">
                                                    <a class="product-title" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">@Html.DisplayFor(modelItem => item.Name)</a>
                                                    <p class="product-author">by: @Html.DisplayFor(modelItem => item.Author.FullName)</p>
                                                    <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">$</span>@String.Format("{0:0.00}", item.Price)</span></span>
                                                </div>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="vc_row wpb_row vc_inner vc_row-fluid vc_custom_1503989158128">
                    <div class="wpb_column vc_column_container vc_col-sm-12">
                        <div class="vc_column-inner">
                            <div class="wpb_wrapper">
                                <div class="heading-3 clearfix"><h2 style="font-size: 15px;color: #888a92;text-align: left;font-family:Voces;font-weight:400;font-style:normal" class="heading">POPULAR CATEGORIES</h2><div class="wrap-link"><a href="#" target="_self">All Categories<i class="zmdi zmdi-chevron-right"></i></a></div></div><div class="vc_empty_space" style="height: 7px"><span class="vc_empty_space_inner"></span></div>
                                <div class="cms-category">
                                    <div class="row">
                                        <div class="cat-item col-xs-12 col-sm-6 col-md-4">
                                            <div class="item-cat">
                                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product_cat=thriller">
                                                    <div class="thumbnail-cat">
                                                        <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/cate-thrillers.png" alt="thumbnail">
                                                    </div>
                                                    <div class="info">
                                                        <h5>Thriller</h5>
                                                        <h6>Edge of your seat type and more think</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cat-item col-xs-12 col-sm-6 col-md-4">
                                            <div class="item-cat">
                                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product_cat=romance">
                                                    <div class="thumbnail-cat">
                                                        <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/cate-romantic.png" alt="thumbnail">
                                                    </div>
                                                    <div class="info">
                                                        <h5>Romance</h5>
                                                        <h6>Fall in love with a book today</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="cat-item col-xs-12 col-sm-6 col-md-4">
                                            <div class="item-cat">
                                                <a href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product_cat=children">
                                                    <div class="thumbnail-cat">
                                                        <img src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/childrens.png" alt="thumbnail">
                                                    </div>
                                                    <div class="info">
                                                        <h5>Childrens</h5>
                                                        <h6>Amazing stories for kids</h6>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><div class="vc_row wpb_row vc_inner vc_row-fluid"><div class="wpb_column vc_column_container vc_col-sm-12"><div class="vc_column-inner"><div class="wpb_wrapper"><div class="heading-3 clearfix"><h2 style="font-size: 15px;color: #888a92;text-align: left;font-family:Voces;font-weight:400;font-style:normal" class="heading">RECOMMENDED FOR YOU</h2><div class="wrap-link"><a href="#" target="_self">All Recommended<i class="zmdi zmdi-chevron-right"></i></a></div></div></div></div></div></div><div class="vc_empty_space" style="height: 12px"><span class="vc_empty_space_inner"></span></div>

                <div class="cms-grid-wraper grid-2 extend-space" id="cms-grid-2">
                    <div class="row cms-grid">
                        @foreach (var item in ViewData["RecommentdedForYou"] as IList<Book>)
                        {
                            <div class="cms-grid-item col-lg-2.4 col-md-4 col-sm-6 col-xs-12 new-col-lg-5" data-groups="[&quot;all&quot;,&quot;category-comedy&quot;,&quot;category-thriller&quot;]">
                                <div class="cms-grid-media" style="transition: all 0.25s ease 0s; box-shadow: rgb(233, 231, 232) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #e9e7e8';" onmouseout="this.style.boxShadow ='0 0 15px -2px #e9e7e8';">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                        <img width="300" height="455" src="@item.Thumbnail" class="attachment-shop_catalog size-shop_catalog wp-post-image" alt="" sizes="(max-width: 300px) 100vw, 300px">
                                    </a>
                                </div>
                                <div class="info-product">
                                    <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="product-title">@item.Name</a>
                                    <p class="product-author">@item.Author.FullName</p>
                                    <span class="price">$@String.Format("{0:0.00}", item.Price)</span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="cms-button-wrapper text-center " id="cms-button">
                    <a class="text-center" target="_self" href="#" style="transition: all 0.5s ease 0s; background: rgb(255, 255, 255); color: rgb(126, 91, 239); border: 1px solid rgb(126, 91, 239); border-radius: 6px; width: 155px;" onmouseout="this.style.color='#7e5bef';this.style.background='#ffffff';this.style.borderColor='#7e5bef';" onmouseover="this.style.background='#7e5bef';this.style.color='#ffffff';this.style.borderColor='#7e5bef';">
                        View more
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="vc_row-full-width"></div>
<div data-vc-full-width="true" data-vc-full-width-init="true" class="vc_row wpb_row vc_row-fluid vc_custom_1504086144605 vc_row-has-fill row-gradient-color">
    <div class="gradient-color" style="
			                            height: 100%;
		                                background: #6b4dcc;
		                                background: -webkit-linear-gradient(#6b4dcc , #523bc9);
		                                background: -o-linear-gradient(#6b4dcc, #523bc9);
		                                background: -moz-linear-gradient(#6b4dcc, #523bc9);
		                                background: linear-gradient(#6b4dcc , #523bc9);
		                                opacity: 1;
		                            ">
    </div>
    <div class="wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner vc_custom_1505871144817">
            <div class="wpb_wrapper">
                <div class="wrap-cms-popuplar-book">
                    <div class="row">
                        <div class="most-popular-info col-xs-12 col-md-4 col-lg-3">
                            <p class="title-1">our</p>
                            <p class="title-2">TOP<span>8</span></p>
                            <p class="title-3">Most popular books</p>
                            <a href="#">View all</a>
                        </div>
                        <div class="most-popular-contents col-xs-12 col-md-8 col-lg-9">
                            <div id="most-popular" class="owl-carousel owl-theme owl-loaded owl-drag">
                                <div class="owl-stage-outer">
                                    <div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: all 0s ease 0s; width: 1950px;">
                                        <div class="owl-item active" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition: all 0.25s ease 0s; box-shadow: rgb(48, 142, 199) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #308ec7';" onmouseout="this.style.boxShadow ='0 0 15px -2px #308ec7';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/bash_and_lucy-2.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="">Bash and Lucy Fetch Confidence</a>
                                                    <div class="popular-author">
                                                        by Lisa &amp; Michael Cohn
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item active" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition: all 0.25s ease 0s; box-shadow: rgb(79, 67, 135) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #4f4387';" onmouseout="this.style.boxShadow ='0 0 15px -2px #4f4387';">
                                                    <a href="#">
                                                        <img width="299" height="455" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/the_world.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=the-world-of-abstract-art">The World of Abstract Art</a>
                                                    <div class="popular-author">
                                                        by Emily Robbins &amp; J.D Hayes
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item active" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition: all 0.25s ease 0s; box-shadow: rgb(0, 87, 108) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #00576c';" onmouseout="this.style.boxShadow ='0 0 15px -2px #00576c';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/boring_girls_a_novel.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="#">Boring Girls, A Novel</a>
                                                    <div class="popular-author">
                                                        by Sara Taylor
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item active" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition: all 0.25s ease 0s; box-shadow: rgb(0, 117, 189) 0px 0px 15px -2px;" onmouseover="this.style.boxShadow ='0 0 20px 0 #0075bd';" onmouseout="this.style.boxShadow ='0 0 15px -2px #0075bd';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/be_well_bee.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=be-well-be">Be Well Be</a>
                                                    <div class="popular-author">
                                                        by Cabe Lindsay
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition:all 0.25s ease 0s ;box-shadow: 0 0 15px -2px #5a5b99;" onmouseover="this.style.boxShadow ='0 0 20px 0 #5a5b99';" onmouseout="this.style.boxShadow ='0 0 15px -2px #5a5b99';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/nightshade.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="#">Nightshade</a>
                                                    <div class="popular-author">
                                                        by Andrea Cremer
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition:all 0.25s ease 0s ;box-shadow: 0 0 15px -2px #000000;" onmouseover="this.style.boxShadow ='0 0 20px 0 #000000';" onmouseout="this.style.boxShadow ='0 0 15px -2px #000000';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/freefall.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=freefall">Freefall</a>
                                                    <div class="popular-author">
                                                        by Peter Cawdron
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition:all 0.25s ease 0s ;box-shadow: 0 0 15px -2px #f5f5f5;" onmouseover="this.style.boxShadow ='0 0 20px 0 #f5f5f5';" onmouseout="this.style.boxShadow ='0 0 15px -2px #f5f5f5';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/darknet.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=darknet">Darknet</a>
                                                    <div class="popular-author">
                                                        by Matthew Mather
                                                    </div>
                                                </div>
                                            </div>
                                        </div><div class="owl-item" style="width: 183.75px; margin-right: 60px;">
                                            <div class="item-popuplar">
                                                <div class="thumbnal-popuplar" style="transition:all 0.25s ease 0s ;box-shadow: 0 0 15px -2px #e9e7e8;" onmouseover="this.style.boxShadow ='0 0 20px 0 #e9e7e8';" onmouseout="this.style.boxShadow ='0 0 15px -2px #e9e7e8';">
                                                    <a href="#">
                                                        <img width="330" height="500" src="http://demo.cmssuperheroes.com/themeforest/bookjunky/wp-content/uploads/shattered.jpg" class="attachment-shop_catalog_image_size size-shop_catalog_image_size wp-post-image" alt="" sizes="(max-width: 330px) 100vw, 330px">
                                                    </a>
                                                </div>
                                                <div class="content-popuplar">
                                                    <a class="popular-title" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?product=shattered">Shattered</a>
                                                    <div class="popular-author">
                                                        by Peter Cawdron
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div><div class="owl-nav disabled"><div class="owl-prev">Previous</div><div class="owl-next">Next</div></div><div class="owl-dots disabled"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts {

    <script type='text/javascript' src='~/client/js/owl.carousel.min.js'></script>
    <script type='text/javascript' src='~/client/js/owl.carousel.js'></script>
    <script type="text/javascript">

        $('.owl-carousel').owlCarousel({
            loop: false,
            margin: 10,
            nav: true,
            responsive: {
                0: {
                    items: 2
                },
                600: {
                    items: 3
                }
            }
        })
                //$('button.bj-write-cmt-btn').click(function () {
                //    $(this).hide();
                //    $('#review_form_wrapper').css({
                //        'visibility': 'unset', 'max-height': 'unset', 'opacity': '1'
                //    });
                //})
    </script>
}