﻿
@{
    ViewData["Title"] = "Ordetail";
}
<environment include="Development">
    <link href="~/css/ShopCartLayout.css" rel="stylesheet" />
</environment>
<div id="content" class="site-content">
    <div id="primary" class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <main id="main" class="site-main">
                    <article id="post-393" class="post-393 page type-page status-publish hentry">
                        <div class="entry-content">

                            <div class="vc_row wpb_row vc_row-fluid">
                                <div class="wpb_column vc_column_container vc_col-sm-12 vc_col-lg-offset-1 vc_col-lg-10">
                                    <div class="vc_column-inner">
                                        <div class="wpb_wrapper">
                                            <div class="woocommerce">
                                                <div class="woocommerce-notices-wrapper" style="margin-bottom:10px">Code Order :<a href="#"> 712414044</a></div>
                                                <form class="woocommerce-cart-form book-junky-cart">

                                                    <table class="shop_table cart woocommerce-cart-form__contents" cellspacing="0">
                                                        <thead>
                                                            <tr>
                                                                <th>
                                                                    <span class="hidden-lg">Code</span>
                                                                </th>
                                                                <th>
                                                                    Purchase Date
                                                                </th>
                                                                <th>Product</th>
                                                                <th>Quantity</th>
                                                                <th>Total Money</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td><img style="width:60px" src="/images/the_happy_lemon.jpg" /></td>
                                                                <td>20/03/2019</td>
                                                                <td>The Happy Lemon</td>
                                                                <td>1</td>
                                                                <td>30$</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div><!-- .entry-content -->
                        <footer class="edit-page"></footer><!-- .entry-meta -->
                    </article><!-- #post -->

                </main><!-- .site-main -->
            </div>
        </div>
    </div><!-- .content-area -->

</div>