﻿@model IEnumerable<ProjectSEM3.Models.Book>

@{
    ViewData["Title"] = "Search";
}

<link href="~/client/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/client/css/static.css" rel="stylesheet" />
<link href="~/client/css/woocommerce-layout.css" rel="stylesheet" />
<link href="~/client/css/default.css" rel="stylesheet" />
<link href="~/client/css/woocommerce.css" rel="stylesheet" />
<link href="~/client/css/iThing.css" rel="stylesheet" />
<link href="~/client/css/search.css" rel="stylesheet" />
<style>
    .book-junky-shop .product-content .add_to_cart_button, .book-junky-cat .product-content .add_to_cart_button {
        display: inline-block;
        border-radius: 3px;
    }
</style>

<div class="search search-results">
    <div id="page-title-1" class="page-title text-center">
        <h1>Search results: &ldquo;@ViewData["valueSearch"]&rdquo;</h1>
    </div>
    <!-- #page-title -->
    <div id="content">
        <div class="book-junky-shop no-sidebar">
            <div class="wrap-search-shop">
                <div class="wrap-search-book" id="cms-search-book">
                    <form class="searchform" method="get">
                        <div class="wrap-cat">

                            <select name="categoryId" id="product_cat">
                                <option value="All">All</option>
                                @foreach (var item in ViewData["ListCategories"] as IList<Category>)
                                {
                                    <option value="@item.Id">@Html.DisplayFor(modelItem => item.Name)</option>
                                }
                                
                            </select>
                        </div>

                        <div class="wrap-year">
                            <select name="bj_tax_pa_year_publication" id="term">

                                <option value="">Year</option>
                                <option value="191">1955</option>
                                <option value="15">1991</option>
                                <option value="42">1992</option>
                                <option value="68">1993</option>
                                <option value="65">2000</option>
                                <option value="66">2002</option>
                                <option value="67">2003</option>
                                <option value="64">2007</option>
                                <option value="70">2010</option>
                                <option value="177">2011</option>
                                <option value="71">2013</option>
                                <option value="188">2015</option>
                                <option value="100">2016</option>
                                <option value="167">2017</option>
                            </select>
                        </div>

                        <div class="wrap-search">
                            <input type="text" class="form-search" name="value" value="@ViewData["valueSearch"]"
                                   placeholder="Search Book">
                            <input type="hidden" name="min_price" value="0"/> 
                            <input type="hidden" name="max_price" value="100"/> 
                            <button type="submit" class="search-submit">Search Books</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="wrap-archive">
                <div class="row">



                    <div class="sidebar-filter col-xs-12 col-md-4 col-lg-3">

                        <aside id="filter_book-2" class="widget-woo widget_filter_book">
                            <form method="get" class="bj-ft-form">
                                <div class="wrap-title">
                                    <h2 class="widgettitle">FILTERS</h2>
                                    <div class='bj-filter-rs'>Reset</div>
                                </div>
                                <div class="bj-ft-cate">
                                    <h3>Category</h3>
                                    @foreach (var item in ViewData["ListCategories"] as IList<Category>)
                                    {
                                        <div class="bj-ft-cat-item" style="display:block;">
                                            <input type="checkbox" class="bj-ft-check-cate"
                                                   id="bj-ft-cate-80"
                                                   value="@item.Id" name="categories[]">
                                            <label for="bj-ft-cate-80">@Html.DisplayFor(modelItem => item.Name)</label>
                                        </div>
                                    }
                                   
                                    <div class="bj-view-more-ft">More...</div>
                                </div>
                                @*<div class="bj-ft-age">
                                    <h3>Age Range</h3>
                                    <div class="bj-ft-age-item">
                                        <input type="checkbox" class="bj-ft-input-age"
                                               id="bj-ft-age-0-6"
                                               value="0:6"><label for="bj-ft-age-0-6">0 - 6</label>
                                    </div>
                                    <div class="bj-ft-age-item">
                                        <input type="checkbox" class="bj-ft-input-age"
                                               id="bj-ft-age-6-12"
                                               value="6:12"><label for="bj-ft-age-6-12">6 - 12</label>
                                    </div>
                                    <div class="bj-ft-age-item">
                                        <input type="checkbox" class="bj-ft-input-age"
                                               id="bj-ft-age-12-18"
                                               value="12:18"><label for="bj-ft-age-12-18">12 - 18</label>
                                    </div>
                                    <div class="bj-ft-age-item">
                                        <input type="checkbox" class="bj-ft-input-age"
                                               id="bj-ft-age-18"
                                               value="18:max"><label for="bj-ft-age-18">18+</label>
                                    </div>
                                    <input type="hidden" name="bj_meta_ef3-age_accordant"
                                           value="">
                                </div>*@
                                <div class="bj-ft-rating">
                                    <h3>Average Rating</h3>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="5-star"
                                               value="5"><label for="5-star">5 star</label>
                                    </div>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="4-star"
                                               value="4"><label for="4-star">4 star</label>
                                    </div>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="3-star"
                                               value="3"><label for="3-star">3 star</label>
                                    </div>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="2-star"
                                               value="2"><label for="2-star">2 star</label>
                                    </div>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="1-star"
                                               value="1"><label for="1-star">1 star</label>
                                    </div>
                                    <div class="bj-ft-rating-item">
                                        <input type="checkbox" class="bj-ft-input-rating" name="ratinng[]" id="0-star"
                                               value="0"><label for="0-star">No Ratings</label>
                                    </div>
                                </div>
                                <div class="bj-ft-price" data-min="0"
                                     data-max="100"
                                     data-currency="&pound;">
                                    <h3>Price Range</h3>
                                    <div id="bj-range-price"></div>
                                    <button type="submit"
                                            class="bj-ft-price-button">
                                        Filter
                                    </button>
                                    <input type="hidden" name="min_price" class="bj-range-min-price-val"
                                           value="">
                                    <input type="hidden" name="max_price" class="bj-range-max-price-val"
                                           value="">
                                </div>
                                <input type="hidden" name="post_type"
                                       value="product">
                            </form>
                        </aside>
                    </div>

                    <div class="col-xs-12 col-md-8 col-lg-9">
                        <div class="shop-content">

                            <div class="catalog_ordering clearfix">

                                <div class="woocommerce-notices-wrapper"></div><p class="woocommerce-result-count">
                                    @ViewData["countSearch"] BOOKS FOUND
                                </p>
                                <form class="woocommerce-ordering" method="get">
                                    <select name="orderby" class="orderby">
                                        <option value="relevance" selected='selected'>Relevance</option>
                                        <option value="popularity">Sort by popularity</option>
                                        <option value="rating">Sort by average rating</option>
                                        <option value="date">Sort by latest</option>
                                        <option value="price">Sort by price: low to high</option>
                                        <option value="price-desc">Sort by price: high to low</option>
                                    </select>
                                    <input type="hidden" name="s" value="" /><input type="hidden" name="product_cat" value="" /><input type="hidden" name="post_type" value="product" />
                                </form>
                            </div>

                            <div class="book-junky-products">
                                <div class="row">
                                    @foreach (var item in ViewData["searchBook"] as IList<Book>)
                                    {
                                        <div class="book-junky-product clearfix col-xs-12 col-sm-12 col-md-12 col-lg-6 post-386 product type-product status-publish has-post-thumbnail product_cat-science product_cat-space-nature product_cat-thriller product_tag-crawdron product_tag-freefall product_tag-peter  instock taxable shipping-taxable purchasable product-type-simple">
                                            <div class="product-thumbnial" style="transition:all 0.25s ease 0s ;box-shadow: 0 0 15px -2px @item.Cover;" onmouseover="this.style.boxShadow ='0 0 20px 0 #000000';" onmouseout="this.style.boxShadow ='0 0 15px -2px #000000';">
                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">
                                                    <img width="300" height="455" src="@Html.DisplayFor(modelItem => item.Thumbnail)" class="attachment-woocommerce_thumbnail size-woocommerce_thumbnail"  sizes="(max-width: 300px) 100vw, 300px" />
                                                </a>
                                            </div>
                                            <div class="product-content">
                                                <a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id" class="title-product">
                                                    @Html.DisplayFor(modelItem => item.Name)
                                                </a>
                                                <div class="author-product">
                                                    by @Html.DisplayFor(modelItem => item.Author.FullName)
                                                </div>
                                                <span class="price"><span class="woocommerce-Price-amount amount"><span class="woocommerce-Price-currencySymbol">&pound;</span>@String.Format("{0:0.00}", item.Price)</span></span>
                                                <div class="excerpt-product">@Html.DisplayFor(modelItem => item.Overview)</div>

                                                <a rel="nofollow" class="button product_type_simple add_to_cart_button ajax_add_to_cart"  asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id">Go to Detail <i class="zmdi zmdi-plus-circle-o"></i></a>
                                            </div>
                                        </div>
                                    }
                                </div>

                                <nav class="paging-navigation clearfix">
                                    <span class='page-numbers current'>1</span>
                                    <a class='page-numbers' href='#'>2</a>
                                    <a class="next page-numbers" href="http://demo.cmssuperheroes.com/themeforest/bookjunky/?paged=2&#038;s&#038;product_cat&#038;post_type=product">Next Page <i class="fa fa-angle-right"></i></a>
                                </nav>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div><!-- .site-content -->

</div>


@section Scripts {
    <script type='text/javascript' src='~/client/js/jquery-ui.js'></script>
    <script type='text/javascript' src='~/client/js/jQAllRangeSliders-min.js'></script>
    <script type='text/javascript'>
        $("#bj-range-price").rangeSlider({
            range: { min: 10, max: 100 },
            step: 1,
            defaultValues: { min: 0, max: 100 },
            formatter: function (val) {
                return "£" + val;
            }
        });

        $("#bj-range-price").bind("valuesChanged", function (e, data) {
            $("input[name='min_price']").val(data.values.min);
            $("input[name='max_price']").val(data.values.max);
        });


    </script>
}