﻿@model ProjectSEM3.Models.Account

@{
    ViewData["Title"] = "Create";
    Layout = "_Layout2";
    ViewData["Active"] = "Users";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Account"><i class="fa fa-users"></i> Users</a></li>
            <li class="active">Create</li>
        </ol>
    </h6>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">Add User</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8">
                <form asp-action="Create" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger box-body"></div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="BirthDay" class="form-control" />
                            <span asp-validation-for="BirthDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Gender" class="form-control">
                                <option value="">---Select Gender---</option>
                                <option value="0">Female</option>
                                <option value="1">Male</option>
                                <option value="2">Other</option>
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Role" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Role" class="form-control"></select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="box-footer">
                        <div class="form-group col-sm-2">
                            <input type="submit" value="Create" class="btn btn-info" />
                        </div>
                        <div class="btn btn-default">
                            <a asp-action="Index">Back to List</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
