﻿@model ProjectSEM3.Models.Account

@{
    ViewData["Title"] = "Edit";
    Layout = "_layout2";
    ViewData["Active"] = "Users";
}

<section class="content-header">
    <h6>
        <ol class="breadcrumb">
            <li><a asp-action="Dashboard" asp-controller="Admin"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li><a asp-action="Index" asp-controller="Account"><i class="fa fa-users"></i> Account</a></li>
            <li class="active">Edit</li>
        </ol>
    </h6>
</section>
<section class="content container-fluid">
    <div class="box box-info">
        <div class="box-header">
            <h4 class="box-title">User</h4>
            <hr />
        </div>
        <div class="row">
            <div class="col-md-8" >
                <form asp-action="Edit" class="form-horizontal">
                    <div asp-validation-summary="ModelOnly" class="text-danger box-body"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Username" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label asp-for="Password" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Salt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Salt" class="form-control" />
                            <span asp-validation-for="Salt" class="text-danger"></span>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label asp-for="FullName" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="FullName" class="form-control" />
                            <span asp-validation-for="FullName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Avatar" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="Avatar" class="form-control" />
                            <span asp-validation-for="Avatar" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="BirthDay" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="BirthDay" class="form-control" />
                            <span asp-validation-for="BirthDay" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="CreatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="CreatedAt" class="form-control" />
                            <span asp-validation-for="CreatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpdatedAt" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <input asp-for="UpdatedAt" class="form-control" />
                            <span asp-validation-for="UpdatedAt" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gender" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Gender" class="form-control">
                                @if (Model.Gender == AccountGender.Female)
                                {
                                    <option value="0" selected>Female</option>
                                }
                                else
                                {
                                    <option value="0">Female</option>
                                }
                                @if (Model.Gender == AccountGender.Male)
                                {
                                    <option value="1" selected>Male</option>
                                }
                                else
                                {
                                    <option value="1">Male</option>
                                }
                                @if (Model.Gender == AccountGender.Other)
                                {
                                    <option value="2" selected>Other</option>
                                }
                                else
                                {
                                    <option value="2">Other</option>
                                }
                            </select>
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Role" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Role" class="form-control">
                                @if (Model.Role == AccountRole.Customer)
                                {
                                    <option value="0" selected>Customer</option>
                                }
                                else
                                {
                                    <option value="0">Customer</option>
                                }
                                @if (Model.Role == AccountRole.Admin)
                                {
                                    <option value="1" selected>Admin</option>
                                }
                                else
                                {
                                    <option value="1">Admin</option>
                                }
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label col-sm-2"></label>
                        <div class="col-sm-10">
                            <select asp-for="Status" class="form-control">
                                @if (Model.Status == AccountStatus.Active)
                                {
                                    <option value="1" selected>Active</option>
                                }
                                else
                                {
                                    <option value="1">Active</option>
                                }
                                @if (Model.Status == AccountStatus.Deactive)
                                {
                                    <option value="2" selected>Deactive</option>
                                }
                                else
                                {
                                    <option value="2">Deactive</option>
                                }
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="box-footer">
                        <div class="form-group col-sm-2">
                            <input type="submit" value="Save" class="btn btn-warning" />
                        </div>
                        <div class="form-group col-sm-2 btn btn-default margin-r-5">
                            <a asp-action="Index">Back to List</a>
                        </div>
                        <div class="form-group col-sm-2 ">
                            <a class="btn btn-danger" asp-action="ResetPassword" asp-route-id="@Model.Id" onclick="return comfirm("Are you sure reset password of this account")">Reset password</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
